[2019-03-08 13:21] lslachciak opened #4 "dist folder unneded"
In tau_4.0 branch dist folder with compiled TAU is unneeded.
TAU releases already contain compiled TAU https://github.com/Samsung/TAU/releases

[2019-03-11 09:07] TomaszLukawskiSam commented on #4
@lslachciak
The TAU on branch tizen_4.0 has been updated. The `dist` folder has been removed.

[2019-03-11 09:27] lslachciak commented on #4
I confirm, dist folder not longer exists.

[2019-03-11 09:27] #4 closed

[2019-03-29 11:08] lslachciak opened #22 "TAU pre installation steps fail on Ubuntu 18.04"
after installing globally grunt
`sudo npm install -g grunt`
unable to use grunt for TAU buil
`Error: Cannot find module 'findup-sync'
`

[2019-04-12 13:31] lslachciak commented on #22
PR merged

[2019-04-12 13:31] #22 closed

[2019-04-26 07:09] TomaszLukawskiSam opened #52 "UI Components: console errors in SwipeList example"
The app throws errors in SwipeList example

`tau.js:17436 [tau][4/26/2019, 9:08:12 AM] TypeError: Cannot read property 'getElementsByClassName' of null
    at eval (eval at <anonymous> (http://localhost:8880/examples/wearable/UIComponents/lib/tau/wearable/js/tau.js:17698:14), <anonymous>:5:22)
    at eval (eval at <anonymous> (http://localhost:8880/examples/wearable/UIComponents/lib/tau/wearable/j

[2019-05-06 14:16] TomaszLukawskiSam commented on #52
Patch has already merged. The issue can be closed.

[2019-05-06 14:23] TomaszLukawskiSam opened #58 "GalleryUI (example from SDK): content is cut on bottom"
![image](https://user-images.githubusercontent.com/29534410/57231650-38bf4d80-701b-11e9-802e-411b826963be.png)

[2019-05-07 11:06] lslachciak opened #62 "npm tests fails"
TAU tests are failing:
Testing tests/js/profile/wearable/widget/wearable/ArcListview/ArcListview.html ......F................

[2019-05-07 11:06] lslachciak commented on #62
see also comment in https://github.com/Samsung/TAU/pull/61

[2019-05-07 11:13] TomaszLukawskiSam opened #63 "UI tests don't work on Tizen 4.0 device"
UI tests don't work.

[2019-05-08 07:23] TomaszLukawskiSam commented on #52
Issue is solved.

[2019-05-08 07:23] #52 closed

[2019-05-08 07:25] TomaszLukawskiSam commented on #58
Issue has been already solved.

[2019-05-08 07:25] #58 closed

[2019-05-08 10:41] TomaszLukawskiSam opened #69 "Header and Footer have too strong selectors to hide by developers"
Example MiniGallery (SDK)
Header in image preview page has display class that is managed by the app. It hides the header in preview. The css selector is too weak and it cannot overcome TAU visibility settings. The app should use different mechanism to hide header, or find way to make selector stronger.

[2019-05-08 11:25] pkaczmarczy opened #71 "Wearable: bottom buttons in row overlap content"
Problem was noticed in KeyManager app from SDK.
Buttons from footer can overlap page content in case if multiple buttons are placed in row.

[2019-05-08 11:26] pkaczmarczy opened #72 "SnapListView exception during building an empty list"
TAU throws an exception during attempt to build empty list widget

[2019-05-08 11:31] pkaczmarczy opened #73 "Wearable: Footer buttons are incorrectly placed if page contains one of the lists"
During building containers footer is beeing moved to different container and it breaks it's fixed position. Footer buttons should be always placed at the same position.

[2019-05-08 21:34] lslachciak commented on #62
Issue fixed by https://github.com/Samsung/TAU/commit/7bcf286a7e45d1934cbe27c34471fea4a01bb24f

[2019-05-08 21:34] #62 closed

[2019-05-09 09:51] TomaszLukawskiSam commented on #69
For resolve the issue the app has to be changed.
file: MiniGallery/css/style.css

- add style
[code]

[2019-05-09 11:00] grzegorz-czajkowski opened #77 "background-image url from tau.css is not valid"
Those files are referenced by theme/default/tau.css but they do not exist on https://samsung.github.io/TAU/examples/.
[code]

[2019-05-09 11:57] pkaczmarczy commented on #71
Fixed by #74

[2019-05-09 11:57] #71 closed

[2019-05-09 11:57] pkaczmarczy commented on #72
Fixed in #74

[2019-05-09 11:57] #72 closed

[2019-05-09 11:58] pkaczmarczy commented on #73
Fixed in #74

[2019-05-09 11:58] #73 closed

[2019-05-10 07:19] wszczepanski97 opened #79 "Generating docs don't work for a few components"
I was trying to generate docs for mobile and wearable components and I found a problem to do it.
I did "grunt build" and then "grunt analize-docs" but only a few of components are generated. There are missing @component-selector comments for components and because of that docs for this components are not generated.

[2019-05-10 07:22] #69 closed

[2019-05-10 07:28] wszczepanski97 opened #80 ""grunt analize-docs" don't add classes and methods to created package.json for some components."
Grunt task "analize-docs" creates package.json but have a lot of lacks. For example classes and methods are not provided in most of generated components.

Here is generated Dropdown Menu component for mobile(lack of classes):
![dropdowndownclasses](https://user-images.githubusercontent.com/31214439/57509910-bd54e900-7305-11e9-972b-f71b16547ed6.png)

While in widget file you can see a lot of classe

[2019-05-10 12:08] pkaczmarczy opened #83 "List can be scrolled even if popup is displayed on top"
ArcListView should not be scrolled with bezel if popup is displayed on top.
Listview should lost focus after displaying popup

[2019-05-10 12:14] hsiwkin opened #84 "DE can not open index.html if it's not placed in root directory"

[2019-05-10 15:42] korneliakobiela opened #86 "[wearable][4.0] registerElements caused error"
While reregister custom Elements of TAU (like during saving Design Editor) tau shows error
[code]
On mobile shows lots of warnings.

I attach the project on which I could see this. I've investigated it and this issue is caused by `customElements.js` Module. While the event listener below is launched, `registerTags` object is empty instead of containing previously registered elements.
[code]
TEMPLA

[2019-05-13 07:58] pkaczmarczy commented on #83
Fixed in #85

[2019-05-13 07:58] #83 closed

[2019-05-13 09:09] TomaszLukawskiSam opened #88 "Listview with subtext 3 lines: next item doesn't show"
![image](https://user-images.githubusercontent.com/29534410/57609485-46bb2400-756f-11e9-89ec-a1bdea09c1e5.png)

Some previous patch for listview broken the widget look.

Example:
examples/wearable/UIComponents/contents/list/subtext/list_subtext_3line.html

Example of proper view:
![image](https://user-images.githubusercontent.com/29534410/57611162-83d4e580-7572-11e9-8040-6568beb33df1.png)

[2019-05-14 10:12] TomaszLukawskiSam opened #94 "Listview: grey area is shown"
Implements two colored listview widgets on the same page is not supported yet.

The guideline for Tizen 3.0 doesn't provide use case with many colored listview in the same time on the same page.
Resolve the issue requires synchronization between lists.

Second issue is when developer does listview update by innerHtml property. In this way he destroys instance of canvas with colored bars.

[2019-05-14 13:35] lslachciak opened #95 "ListView: folders header missing"
Tizen SDK -> Sample app --> Media --> Content
New TAU:
![image](https://user-images.githubusercontent.com/2246331/57702139-b7d90500-765d-11e9-9260-4f4a24ddbb31.png)

App with Old TAU:
![image](https://user-images.githubusercontent.com/2246331/57702213-e1922c00-765d-11e9-9d63-5e3de83920c2.png)

[2019-05-14 14:27] lslachciak commented on #95
Issue was fixed on the app site

[2019-05-14 14:27] #95 closed

[2019-05-15 08:47] grzegorz-czajkowski commented on #77
One more file left which is used twice:
css/style.css:	background-image: url(https://samsung.github.io/TAU/examples/mobile/UIComponents/css/test.png);
css/style.css:	background-image: url(https://samsung.github.io/TAU/examples/mobile/UIComponents/css/test.png);

[2019-05-15 09:01] lslachciak commented on #77
@pkaczmarczy could you check this issue?

[2019-05-15 09:02] lslachciak commented on #94
@TomaszLukawskiSam PR merged, how about closing this issue?

[2019-05-15 09:04] lslachciak commented on #84
@hsiwkin shouldn't we move this issue to DE github?

[2019-05-15 09:30] hsiwkin commented on #84
Yes, we should. I'll close this one and create a new issue in DE github.

[2019-05-15 09:30] #84 closed

[2019-05-15 10:11] lslachciak opened #101 "In Sample Camera App setting list items are overlapped with radios"
![image](https://user-images.githubusercontent.com/2246331/57767672-3db28a00-770a-11e9-9820-1967199ca4b0.png)
Reproduction steps:
1. Tizen SDK --> Sample --> Camera app
2. update TAU to latest one
3. Run Camera app go to settings --> Picture size

[2019-05-15 13:06] pkaczmarczy commented on #101
Application was modifying position and display properties of elements inside list.
Change in application source has been proposed.

[2019-05-15 13:06] #101 closed

[2019-05-16 08:03] TomaszLukawskiSam opened #106 "(wearable) Virtual Listview shows only few items from thousand"
Example:
examples/wearable/UIComponents/contents/list/virtual/normal.html

Widget loads data and fill list items. At the moment widget shows only few items.

[2019-05-16 08:05] TomaszLukawskiSam opened #107 "(mobile) Vitual Listview blinks on scroll"
It seems like performance issue, but should be check

example:
examples/mobile/UIComponents/components/list/virtuallist_normal.html

[2019-05-16 09:20] pkaczmarczy opened #109 "(mobile) VirtualList scrollable area"
VirtualList scrollable area size is not updated.
After reaching end of the virtual list there is an empty page left

[2019-05-16 13:10] lslachciak commented on #88
@pkaczmarczy can we close issue?

[2019-05-16 13:12] pkaczmarczy commented on #88
Yes, I will close issue. The https://github.com/Samsung/TAU/pull/99 has been merged.

[2019-05-16 13:12] #88 closed

[2019-05-20 07:38] pkaczmarczy opened #116 "(wearable) VirtualListView cannot be scrolled using bezel"
Listview does not scroll after rotaryevent.
Reproduction: UIComponents app: contents/list/virtual/normal.html

TAU throws an exception during event handling:
Uncaught TypeError: Cannot read property 'setAttribute' of undefined
    at SimpleVirtualList.prototype._updateListItem (tau.js:25073)
    at _updateList (tau.js:25191)
    at Object.trigger (tau.js:1251)
    at moveTo (tau.js:15950)

[2019-05-20 07:41] pkaczmarczy opened #117 "(wearable) VirtualList marquee animation is not starting"
Marquee animation does not start if item text is loo long.
Text is just cut off by the screen.

Reproduction:
UIComponents app: contents/list/virtual/1_line_btn.html

[2019-05-22 12:51] TomaszLukawskiSam opened #119 "Radio button on listview: wrong position in first item"
Wrong position of radio button in app MediaContent.
![image](https://user-images.githubusercontent.com/29534410/58175406-5853a880-7ca0-11e9-9d60-b1057e179617.png)

Issue ocurres on listview with group index. This is regression issue after fix (https://github.com/Samsung/TAU/commit/ee473445af019aa1d705111314f1212154c40144)

[2019-05-24 11:20] TomaszLukawskiSam opened #122 "DropDownMenu: refresh method duplicates wrapper layer"
![image](https://user-images.githubusercontent.com/29534410/58324200-7f3be700-7e26-11e9-980a-dc096fd3f76c.png)

This issue cause that widget has frozen.

[2019-05-27 10:28] pkaczmarczy opened #125 "Page: Not all header elements has "ui-title" class added"
Header elements inside ".ui-header" should all have automatically "ui-title" class added.

[2019-05-27 12:03] pkaczmarczy commented on #125
Fixed in #126

[2019-05-27 12:03] #125 closed

[2019-05-27 12:17] #122 closed

[2019-05-27 13:42] lslachciak opened #128 "Some items not found in TAU samples"
--2019-05-27 15:38:01--  https://samsung.github.io/TAU/examples/wearable/UIComponents/lib/tau/wearable/theme/default/images/Actionbar/tw_ic_menu_detail_normal_holo_dark.png
Reusing existing connection to samsung.github.io:443.
HTTP request sent, awaiting response... 404 Not Found
2019-05-27 15:38:01 ERROR 404: Not Found.

--2019-05-27 15:38:01--  https://samsung.github.io/TAU/examples/wearable/UIC

[2019-05-28 07:20] #119 closed

[2019-05-28 12:51] TomaszLukawskiSam commented on #106
In the issue are mixed several issues:
1. Two widgets are build on the same element (VirtualListviewSimple & ArcListview) but they don't work together.
2. Children elements in ArcListview are stored in widget property, however VirtualListviewSimple stores items as children.
3. Method to add new items to lists is different for both widgets.

[2019-05-28 14:35] TomaszLukawskiSam opened #130 "The listview with no items throws error."
`
Uncaught TypeError: Cannot read property 'parentElement' of undefined(…)prototype._setAnimatedItems @ tau.js:30902prototype._init @ tau.js:31925prototype.init @ tau.js:7462coreProcessWidget @ tau.js:2924processWidget @ tau.js:2973processHollowWidget @ tau.js:3090instanceWidget @ tau.js:3423widgetConstructor @ tau.js:7004(anonymous function) @ circle-helper.js:27trigger @ tau.js:1251prototype.tri

[2019-05-30 14:03] lslachciak opened #133 "document.registerElement - deprecated API usage in TAU"
TAU uses document.registerElement API which is deprecated now
[code]
This should be done before https://bugs.chromium.org/p/chromium/issues/detail?id=660759 is closed

[2019-05-31 07:43] pkaczmarczy commented on #128
PR has been already merged

[2019-05-31 07:43] #128 closed

[2019-06-03 09:04] lslachciak commented on #77
@pkaczmarczy  I think we can close it, can we?

[2019-06-03 09:07] TomaszLukawskiSam commented on #94
Yes. Patch have been already merged.

[2019-06-03 09:07] #94 closed

[2019-06-03 09:10] TomaszLukawskiSam commented on #77
We cane close this issue.

[2019-06-03 09:10] #77 closed

[2019-06-04 13:03] pkaczmarczy commented on #109
PR has been already merged.

[2019-06-04 13:03] #109 closed

[2019-06-05 06:43] pkaczmarczy commented on #107
PR has been already merged.

[2019-06-05 06:43] #107 closed

[2019-06-05 11:51] TomaszLukawskiSam commented on #106
PR has already merged.

[2019-06-05 11:51] #106 closed

[2019-06-05 11:51] TomaszLukawskiSam commented on #130
PR has already merged.

[2019-06-05 11:51] #130 closed

[2019-06-05 11:52] TomaszLukawskiSam commented on #116
PR has already merged.

[2019-06-05 11:52] #116 closed

[2019-06-05 14:30] pkaczmarczy opened #138 "Colored list background overlaps content above"
App: Tizen Globalization
App content is hidden under listview background
![M-4 0-x86-2019-06-05-162509](https://user-images.githubusercontent.com/38784474/58964415-27e73080-87af-11e9-9dad-9b7e049c85ab.png)

[2019-06-07 07:02] lslachciak opened #141 ""pageId is not defined" error when accessing"
Reproduction steps:
Visit: https://samsung.github.io/TAU/examples/mobile/UIComponents/components/list/virtuallist.html
Click any of the listed items
Observe:
Page is changed but content is not shown.
On the error console there is an error:
[code]

[2019-06-07 07:15] lslachciak opened #142 "virtual list - XMLHttpRequest on the main thread is deprecated"
When accessing
https://samsung.github.io/TAU/examples/mobile/UIComponents/components/list/virtuallist_2line_star.html
there is a warning
tau.js:19327 [Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead. See https://www.chromestatus.com/features/4642138092470272 for more details.

[2019-06-07 07:32] lslachciak opened #143 "Long text in tab is cut"
Reproduction
Visit:
https://samsung.github.io/TAU/examples/mobile/UIComponents/components/navigationelements/tabs/tabs_text_only_scroll.html
Text on the tab bar is cut improperly
![image](https://user-images.githubusercontent.com/2246331/59088235-33e60600-8907-11e9-9d4d-0f90adad502c.png)

[2019-06-07 08:51] lslachciak commented on #138
PR meged. closing issue

[2019-06-07 08:51] #138 closed

[2019-06-07 13:30] #143 closed

[2019-06-10 07:36] lslachciak opened #145 "Missing styles in samples"
When samples accessed by github.io there is nothing shown

[code]

[2019-06-11 11:23] pkaczmarczy commented on #145
PR has been already merged

[2019-06-11 11:23] #145 closed

[2019-06-11 11:53] TomaszLukawskiSam commented on #141
Fix has been merged.

[2019-06-11 11:53] #141 closed

[2019-06-11 11:53] pkaczmarczy opened #150 "Wearable: Empty state should be included for circle devices only"
ui-empty-state classes and similar ones should be available only in tau.circle.css files.

[2019-06-13 14:22] TomaszLukawskiSam opened #154 "Button: data-inline="false" is treated as positive value"
example:

![image](https://user-images.githubusercontent.com/29534410/59440527-6b691c80-8df7-11e9-9a46-f4b26106596a.png)

[2019-06-14 06:55] lslachciak opened #156 "Floating actions example - not working"
Reproduction steps:
1. Visit:
https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/controls/floatingactions/on-page.html
2. Not possibleto make any action

[2019-06-24 15:06] pkaczmarczy opened #157 "[TV] Dimmer value does not change after moving slider"
In TV UI Components app dimmer value does not change.

[2019-06-24 15:06] pkaczmarczy opened #158 "Cannot change slider value using keyboard"
Slider can be selected (blue border appears), but there is no way to change it's value by keyboard

[2019-06-25 12:39] pkaczmarczy opened #160 "UIComponents app button in searchbar takes whole screen"
This happens on mobile and wearable profile.
Path: UIComponents/components/controls/searchbar/searchbar-with-icon.html
![image](https://user-images.githubusercontent.com/38784474/60098880-c9cabf00-9756-11e9-95d7-f72cbcdfdb93.png)
Probably this button should be placed like little button in left corner (currently there is not enough space to show textInput)
The button is missing ui-btn-icon class.

[2019-06-26 00:15] lslachciak opened #161 "checkbox items don't have marquee animation"
Reproduction steps:

1. Open https://samsung.github.io/TAU/examples/wearable/UIComponents/ in Google Chrome
2. Run Developer mode and define device: 360x360
3. Go to Controls-->Checkbox
4. Observe: Checkbox items don't have marquee animation

![image](https://user-images.githubusercontent.com/2246331/60141983-cab12e80-97f2-11e9-845b-cf9fc169d485.png)

[2019-06-26 10:31] pkaczmarczy opened #162 "[KeyboardSupport] Page is not scrolled up to show currently selected Slider"
Page content should be scrolled to show currently selected element (it works one way, only page is only scrolled down).

[2019-06-28 10:06] pkaczmarczy opened #165 "Missing licence headers for tau.circle.css and tau.tv.css"
Licence headers are not included during TAU build process for mentioned files.

[2019-06-28 11:05] pkaczmarczy opened #167 "Bundle is not called for all profiles"
Bundle task during build is run only for the first profile.

[2019-07-01 07:45] pkaczmarczy commented on #154
PR has been already merged.

[2019-07-01 07:45] #154 closed

[2019-07-01 13:46] pkaczmarczy commented on #150
![image](https://user-images.githubusercontent.com/38784474/60441293-fe3af100-9c16-11e9-9dbc-9d3a9c9708a2.png)

TAU does not support empty state for circular device.
We should move the stylesheets responsible for that page to theme-circle directory and build it only for circle device.
Also we should consider hiding the empty state page in UIComponents app for rectangle device.

[2019-07-01 13:57] pkaczmarczy opened #171 "Usage of deprecated customElements registration APIU"
TAU use deprecated customElements registration API (customElemensts.js:125)

[2019-07-02 09:35] pkaczmarczy opened #173 "Unify example apps html sources"
- Apply consistent formatting
- Unify the way of including stylesheets and scripts for all pages

[2019-07-02 13:25] pkaczmarczy opened #176 "PageIndicator problem with data-style attribute (name conflict)"
![image](https://user-images.githubusercontent.com/38784474/60516168-7d92f800-9cdd-11e9-9f74-38f2b725b41b.png)

Above example should use 'dashed' PageIndicator - there is a conflict because options.style is filled with style property value not data-style.

[2019-07-02 13:31] pkaczmarczy opened #177 "Add unit tests for Graph widget"
There are no unit tests for Graph widget.

[2019-07-02 13:41] pkaczmarczy opened #178 "[Mobile][UIComponents] Unhandled exception in Gallery page"
After clicking a DELETE button in Gallery page an exception may be thrown and UI breaks
![image](https://user-images.githubusercontent.com/38784474/60517288-b207b380-9cdf-11e9-8357-316c21377908.png)
![image](https://user-images.githubusercontent.com/38784474/60517340-d1064580-9cdf-11e9-9f04-f2c20a30cc11.png)

[2019-07-02 14:36] pkaczmarczy commented on #178
The prepared path can be applied also to tau_1.0 branch during next update (the bug also exist)

[2019-07-03 07:44] pkaczmarczy opened #180 "Check data-build-remove attribute in script tags"
Example:
	<script data-build-remove="false" src="lib/tau/mobile/js/tau.js">

The data-build-remove attribute is probably not used - if it is not necessary it should be removed from TAU example apps.
Check if it is safe to remove this attribute.

[2019-07-03 12:29] pkaczmarczy opened #182 "Listview broken background after adding element"
After adding element to already built widget background canvas is broken.

![image](https://user-images.githubusercontent.com/38784474/60591524-f1490980-9d9e-11e9-95ab-bee75cc174ac.png)

[2019-07-03 13:47] pkaczmarczy opened #184 "[Reorder list] Does not work on emulator and device"
Handlers are shown only for short period of time, handlers are not removed from DOM tree.

The problem appears only with Emulator and mobile device. Application launched in Chrome desktop browser works fine.

[2019-07-03 16:26] korneliakobiela opened #186 "[wearable] Number picker cuts long values"
![image](https://user-images.githubusercontent.com/18300603/60608292-6593a500-9dbf-11e9-98c7-ff6b92a19c39.png)
Problem Description:
In number picker, long values (more than 3 digits) are cut at the right side.

[2019-07-04 09:47] lslachciak opened #188 "Allow to see examples from different TAU versions"
Currently thanks to gh-pages mechanism nly examples from master branch are visible.
Create gh-pages branch in order to keep different versions of examples

[2019-07-08 13:46] TomaszLukawskiSam commented on #167
PR has already merged.

[2019-07-08 13:46] #167 closed

[2019-07-08 14:20] TomaszLukawskiSam commented on #171
PR has already merged.

[2019-07-08 14:20] #171 closed

[2019-07-08 14:55] TomaszLukawskiSam commented on #184
PR has already merged

[2019-07-08 14:55] #184 closed

[2019-07-08 14:56] lslachciak opened #190 "defering TAU load causes problems"
Please check attached example
[SinglePage.zip](https://github.com/Samsung/TAU/files/3368953/SinglePage.zip)

If you defer page TAU load in app, next instance of TAU app loaded in the same iframe is not able to load TAU.

In order to get correct behavior in TAU replace

<iframe id="TAUFRAME" src="BAD.html" width="800" height="1000"></iframe>
with
<iframe id="TAUFRAME" src="OK.html" width="800" heig

[2019-07-09 09:10] lslachciak commented on #188
PR merged

[2019-07-09 09:10] #188 closed

[2019-07-09 09:20] pkaczmarczy commented on #178
PR has been already merged.

[2019-07-09 09:20] #178 closed

[2019-07-09 11:35] lslachciak opened #191 "TAU documentation - merge ListView and ColoredListView"
Both Colored ListView and list View should not be considered separately in documentation
There are now part of one ListView

[2019-07-09 11:36] TomaszLukawskiSam commented on #190
I'm during verification of this problem, but at the moment, in my opinion cause the issue is Router (tau.router.Router.getInstamce() ). After overwrite document content the Router still contains old instance of page container. This blocks build process.

[2019-07-09 11:48] lslachciak opened #192 "UI components - mobile - drawer - missing example"
There is no mobile UI Component example for drawer so can't be included in documentation

[2019-07-09 11:48] lslachciak opened #193 "UI components - drawer - missing link to example"
No link for UI components drawer example

[2019-07-09 11:49] lslachciak commented on #193
Depends on
https://github.com/Samsung/TAU/issues/192

[2019-07-09 11:55] lslachciak opened #194 "Documentation - ColoredListView - not up to date screen"
ColoredListView - not up to date screen

[2019-07-09 13:15] lslachciak opened #195 "Example - Popup - not displayed properly"
Visit:
https://code.tizen.org/demos?path=1.0%2Fexamples%2Fmobile%2FUIComponents%2Fcomponents%2Fpopup%2Fpopup.html
Observe:
List items are spread
Compare to:
https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/popup/popup.html

[2019-07-09 13:16] #195 closed

[2019-07-09 13:17] lslachciak commented on #195
wrong project

[2019-07-09 13:47] pkaczmarczy opened #196 "Tabbar - text is cut on inactive tab element"
If text does not fit into tab it is cutted off

![image](https://user-images.githubusercontent.com/38784474/60893171-b7757880-a260-11e9-9dbb-7ef90d42d6f3.png)

Consider adding ellipsis effect in such situation.

[2019-07-09 13:51] lslachciak opened #198 "Search input example not working"
1. Visit: https://code.tizen.org/demos?path=1.0%2Fexamples%2Fmobile%2FUIComponents%2Fcomponents%2Fcontrols%2Fsearchinput%2Findex.html
2. Enter some text
Observe:
displayed list is not changing

[2019-07-09 14:10] lslachciak opened #199 "documentation - add links to examples - code.tizen.org"
Add links in 5.0 documentation to examples from code.tizen.org

[2019-07-10 12:44] lslachciak opened #201 "Drawer: no example in UI Components"
There is no example in UI components for drawer

[2019-07-11 09:49] lslachciak opened #202 "code.tizen.org - Slider - wearable - incorrect UI"
Visit:
https://code.tizen.org/demos?path=1.0%2Fexamples%2Fwearable%2FUIComponents%2Fcontents%2Fcontrols%2Fslider%2Fslider.html
Observe:
![image](https://user-images.githubusercontent.com/2246331/61041013-f971fc00-a3d1-11e9-84aa-73efe5ebf03d.png)
Expected:
Circle slider

[2019-07-11 09:50] #202 closed

[2019-07-11 10:06] lslachciak opened #203 "ui-view-switcher: no example in UIComonents"
No example for
https://developer.tizen.org/development/api-references/web-application?redirect=https://developer.tizen.org/dev-guide/5.0.0/org.tizen.web.apireference/html/ui_fw_api/Wearable_UIComponents/wearable_viewSwitcher.htm

[2019-07-12 14:22] TomaszLukawskiSam commented on #190
PR has already merged.

[2019-07-15 08:49] pkaczmarczy opened #206 "Marquee: Add new animation"
Currently there is no animation syle that "wraps" text. Currenlty it is possible to side text and in next cycle it appends on it's original position.

New style should allow to slide it from right to left starting from right edge.

[2019-07-15 09:11] pkaczmarczy commented on #198
The root cause of this issue is the same as here: https://github.com/Samsung/TAU-Design-Editor/issues/126

Widget does not work because active-page div has changed to "main" instead of "searchInputPage" - which causes listener registration to fail.

[2019-07-16 07:17] korneliakobiela commented on #198
As I can see, this issue was solved by Samsung/TAU-Design-Editor/pull/147

[2019-07-16 07:27] lslachciak commented on #198
I'll wait for code.tizen.org update to verify issue

[2019-07-16 09:10] TomaszLukawskiSam opened #207 "TAU UI Components: Group index doesn't work after select each dependent options"
[PRECONDITION]
Install TAU UI Components app version 5.0

[STEPS]
1. Open app

2. List > Selectable List

3. Click on checkbox of Group index 2 > uncheck Group index 2

4. Click all List Item > Obs

[OBSERVE]
Group Index doesn't check after select all dependent checkboxes.

[EXPECTED RESULT]
Group Index should be selected when all dependent checkboxes are selected, and GroupIndex should be deselec

[2019-07-16 12:49] TomaszLukawskiSam opened #209 "NumberPicker: Number is cut"
[STEP]

1. Open UIComponents
2. Controls
3. Number picker
4. Accelerated
5. Observ number

[OBSERVE]
Number is cut

[EXPECTED RESULT]
Number should display normal

[2019-07-16 13:48] TomaszLukawskiSam opened #211 "UIComponents: wearable - Text is cut on the list /Controls/Slider"
[STEP]
1. Open UI Components (wearable)
2. Controls
3. Slider
4. Scroll to last item

[OBSERVE]
text on last item "Extended with subtitle" is cut.

[EXPECTED RESULT]
text should display normal

[2019-07-16 14:03] pkaczmarczy opened #214 "Mobile: Content can be scrolled under displayed popup"
Issue occurs only on mobile device / emulator.
Content can be scrolled even if popup is displayed.

[2019-07-17 07:16] lslachciak opened #215 "Popup: documentation - wrong structure"
In comparison to others documentation of pop[up has wrong structure
https://developer.tizen.org/development/api-references/web-application?redirect=https://developer.tizen.org/dev-guide/5.0.0/org.tizen.web.apireference/html/ui_fw_api/Wearable_UIComponents/wearable_popup.htm
e.g. there is no table of contents.

[2019-07-17 07:40] lslachciak commented on #177
@pkaczmarczy please share current status of this issue here - in progress/susended/PR ready etc..

[2019-07-17 09:15] pkaczmarczy commented on #173
PR has been already merged for TAU 1.0

[2019-07-17 09:15] #173 closed

[2019-07-17 09:17] pkaczmarczy commented on #177
Currently work on this issue is suspended because of higher priority tasks.

[2019-07-17 09:56] pkaczmarczy commented on #165
PR has been already merged.

[2019-07-17 09:56] #165 closed

[2019-07-17 09:59] pkaczmarczy commented on #196
PR has been already merged.

[2019-07-17 09:59] #196 closed

[2019-07-17 11:00] TomaszLukawskiSam opened #216 "UIComponents: Popup not display text after select all"
[STEP]

1. Open app
2. Tap on List
3. Tap on Select List
4. Tap on select all
5. Tap on select again
6. Observe

[OBSERVE]
Popup not display text after select all

[EXPECTED RESULT]
Should display text on popup

Wrong:
![image](https://user-images.githubusercontent.com/29534410/61370489-cd9fbc00-a892-11e9-888b-a4312df4e6f2.png)

for all items selected
![image](https://user-images.githubusercontent

[2019-07-17 11:46] TomaszLukawskiSam commented on #156
Floating Button doesn't support mouse events - supports only touch events.

[2019-07-18 04:41] TomaszLukawskiSam commented on #216
After patch:
![image](https://user-images.githubusercontent.com/29534410/61429490-cf1ac400-a926-11e9-918d-947404afdbd0.png)

![image](https://user-images.githubusercontent.com/29534410/61429533-012c2600-a927-11e9-93c6-b1858ff2b01d.png)
![image](https://user-images.githubusercontent.com/29534410/61429562-1e60f480-a927-11e9-9af9-7cbac2d01d1f.png)

[2019-07-18 07:31] TomaszLukawskiSam commented on #156
After verification I have to change conclusions. Floating Button supports mouse events.The issue is more complicated and I have proofs that it can be issue in web browser engine.

[2019-07-18 13:42] lslachciak commented on #198
works perfectly :ok_hand:

[2019-07-18 13:42] #198 closed

[2019-07-18 15:30] korneliakobiela opened #222 "Button style -> circle in header is rectangle."
## Description
- When the button with predefined styles (circle) is added to the application header, then a button shows as the rectangle.
## Steps to reproduce:
- Start a new project in WATT
- Mobile - Base Application
- Add Button to the application header
- Set attributes:
    - Style: circle
![image](https://user-images.githubusercontent.com/18300603/61470690-cc00f180-a981-11e9-9a83-9309ef0bf9

[2019-07-18 16:10] pkaczmarczy opened #223 "ToastPoup: Popup queue"
According to guideline ToastPopups in short period of time should be queued.
Guideline specify also that popups with the same content as previous one in short period of time should be ignored.

[2019-07-19 10:03] lslachciak commented on #216
works fine. Thank you

[2019-07-19 10:03] #216 closed

[2019-07-19 10:06] lslachciak commented on #209
works well

[2019-07-19 10:06] #209 closed

[2019-07-19 10:08] lslachciak commented on #207
works well

[2019-07-19 10:08] #207 closed

[2019-07-23 05:50] TomaszLukawskiSam opened #225 "UIComponents: Wrong page title in List/NormalList"
Page title needs update according to link from previous page.
"List Styles" -> "Normal List"

[2019-07-23 10:02] TomaszLukawskiSam opened #227 "UIComponents: Virtual List with buttons has wrong look"
Buttons on list are hidden under left edge of screen.
![image](https://user-images.githubusercontent.com/29534410/61703597-30390200-ad42-11e9-90a3-e28f11d3132e.png)

[2019-07-23 11:16] pkaczmarczy opened #229 "Search button does not work"
[PRECONDITION]
- Install app TAU UI Components

[STEP]
1. Open app >Navigation Elements > Index Scroll Bar with Floating B...> click search

[OBSERVE]
 Search function not work

[EXPECTED RESULT]

Search function should work normal

[2019-07-23 11:37] pkaczmarczy opened #231 "Gridview: Select all is not checked after manually checking all images"
[STEP]

1. Open app>List> Grid View with checkbox > click all images and observe select all

[OBSERVE]

Box Select all in Grid view with checkbox not work when click all  images

[EXPECTED RESULT]

Box Select all in Grid view with checkbox should work when click all  images

[2019-07-23 11:54] lslachciak commented on #211
I reproduced issue with
link
https://code.tizen.org/demos?path=1.0%2Fexamples%2Fwearable%2FUIComponents%2Fcontents%2Fcontrols%2Fslider%2Findex.html

@TomaszLukawskiSam did you update gh-pages branc

[2019-07-24 06:10] #225 closed

[2019-07-24 06:17] #227 closed

[2019-07-24 11:38] TomaszLukawskiSam opened #237 "Text and button overlap on Listview"
[PRECONDITION]
- Install app

[STEP]
1. Open app
2. ArcListview > ArcListview > Obs
3. Control > radio > Obs
4. Control > Slider > Obs

[OBSERVE]
Text and button overlap
![image](https://user-images.githubusercontent.com/29534410/61790697-37324400-ae18-11e9-95fc-0147b715d6ac.png)

[EXPECTED RESULT]
Text and button should display normal

[2019-07-25 05:39] TomaszLukawskiSam opened #239 "Marquee gradient effect remains even if not necessary"
Text in list item fits to width if item is selected

![image](https://user-images.githubusercontent.com/29534410/61848631-06511e00-aeaf-11e9-8d1e-2ccf06ec87fd.png)

but when list item is moving down the gradient effect is visible and remains.
![image](https://user-images.githubusercontent.com/29534410/61848652-21239280-aeaf-11e9-8ec7-12f5d2e3f384.png)

[2019-07-25 08:59] TomaszLukawskiSam opened #240 "UIComponents: Text in Toast popup is cut"
![image](https://user-images.githubusercontent.com/29534410/61860981-39090f80-aecb-11e9-94f0-200921057436.png)

[2019-07-25 10:17] TomaszLukawskiSam opened #242 "The left/right padding are not same for Horizontal Scroll handler"
Left padding:
![image](https://user-images.githubusercontent.com/29534410/61866791-25af7180-aed6-11e9-84c4-f9dd5895a6bc.png)

Right padding:
![image](https://user-images.githubusercontent.com/29534410/61866810-31029d00-aed6-11e9-97ed-7fb53c1b73bc.png)

[2019-07-26 10:44] #231 closed

[2019-07-26 11:07] TomaszLukawskiSam opened #247 "UIComponents: Subtext is cut on multiline list"
![image](https://user-images.githubusercontent.com/29534410/61947753-59f26300-afa6-11e9-906e-915a340a0b8f.png)

[2019-07-26 11:10] #214 closed

[2019-07-26 11:28] #229 closed

[2019-07-28 07:59] TomaszLukawskiSam opened #250 "Contextual Popup: Wrong popup widht"
![image](https://user-images.githubusercontent.com/29534410/62003892-32bea180-b11e-11e9-95ca-8f1cb0a4754d.png)

Contextual popup has to fit to screen.

[2019-07-29 07:04] #240 closed

[2019-07-29 07:05] #242 closed

[2019-07-29 10:42] pkaczmarczy commented on #250
PR has been merged

[2019-07-30 08:04] #199 closed

[2019-07-30 13:52] TomaszLukawskiSam commented on #186
This issue was solved by path to another issue (https://github.com/Samsung/TAU/pull/210)

[2019-07-30 13:57] TomaszLukawskiSam commented on #161
This issue has been probably resolved by path for another issue. Please recheck it for TAU 1.0.5

[2019-07-30 14:24] pkaczmarczy opened #260 "ArcListView: Highlight incorrect height"
Highlight has incorrect height if item contains more than 2 lines of subtext.

UIComponents app screenshot:
![image](https://user-images.githubusercontent.com/38784474/62138064-4f5a0580-b2e7-11e9-95c5-0573f89544e5.png)
list -> list with sub text -> 3 line subtext

[2019-07-30 14:38] korneliakobiela commented on #186
Looks good to me

[2019-07-30 14:38] #186 closed

[2019-07-31 09:13] lslachciak commented on #161
I can't reproduce this issue currently on tyhe site: https://samsung.github.io/TAU/examples/1.0/examples/wearable/UIComponents/contents/controls/checkbox.html
because no overlap occurs

[2019-07-31 09:13] #161 closed

[2019-07-31 09:21] #250 closed

[2019-07-31 09:22] #247 closed

[2019-07-31 09:22] #239 closed

[2019-07-31 09:26] #237 closed

[2019-07-31 09:28] #211 closed

[2019-07-31 09:28] lslachciak commented on #211
works well

[2019-07-31 09:32] #190 closed

[2019-07-31 12:57] pkaczmarczy commented on #260
PR has been merged.

[2019-07-31 12:57] #260 closed

[2019-08-01 09:25] TomaszLukawskiSam opened #266 "UIComponents: Button with icon in header is not visible"
UIComponents/components/headerfooter/header/lefticon.html

![image](https://user-images.githubusercontent.com/29534410/62281949-fc02c700-b44e-11e9-97fe-0042099088da.png)

[2019-08-01 09:28] TomaszLukawskiSam opened #267 "Tabs: Tab underline seems too low"
UIComponents/components/navigationelements/tabs/tabs_with_title_2.html

![image](https://user-images.githubusercontent.com/29534410/62282257-85b29480-b44f-11e9-8848-dc94d4e52f5c.png)

[2019-08-01 09:31] TomaszLukawskiSam opened #268 "IndexScrollbar: Scrollbar item and list position is different"
UIComponents/components/navigationelements/indexscrollbar.html

![image](https://user-images.githubusercontent.com/29534410/62282466-ec37b280-b44f-11e9-8ccd-5a40b93bc4a2.png)

[2019-08-01 09:33] TomaszLukawskiSam opened #269 "IndexScrollbar with search: wrong button size"
UIComponents/components/navigationelements/indexscrollbar_floating_button.html

![image](https://user-images.githubusercontent.com/29534410/62282584-1a1cf700-b450-11e9-8031-55bf1ff38823.png)

[2019-08-01 09:34] TomaszLukawskiSam opened #270 "Page Indicator & Page Indicator dotted looks the same"
http://localhost:8888/examples/mobile/UIComponents/components/navigationelements/pageindicator.html

![image](https://user-images.githubusercontent.com/29534410/62282729-5b150b80-b450-11e9-8d3e-4de36a504c70.png)

[2019-08-01 09:38] TomaszLukawskiSam opened #271 "Listview: Colored items texts are brightened after scroll"
UIComponents/components/list/liststyles.html

![image](https://user-images.githubusercontent.com/29534410/62282831-8e579a80-b450-11e9-8b3a-b9214c370de6.png)

UIComponents/components/list/normallist.html

![image](https://user-images.githubusercontent.com/29534410/62283090-1047c380-b451-11e9-89c2-b3c08f77b578.png)

[2019-08-01 09:42] TomaszLukawskiSam opened #272 "Listview: Second listview has wrong color"
UIComponents/components/list/expandable/expandable.html#

![image](https://user-images.githubusercontent.com/29534410/62283226-5d2b9a00-b451-11e9-9f5d-70577485cbad.png)

[2019-08-01 09:45] TomaszLukawskiSam opened #273 "Expandable List: After expanding list a back required twice press"
Url before list expand
`/UIComponents/components/list/expandable/expandable.html`

Url after list expand
`/UIComponents/components/list/expandable/expandable.html#`

[2019-08-01 09:48] TomaszLukawskiSam opened #274 "Buttons: Icon on button is not centered"
mobile/UIComponents/components/controls/button/index.html

![image](https://user-images.githubusercontent.com/29534410/62283643-48033b00-b452-11e9-8f96-c37844a869a1.png)

[2019-08-01 09:52] TomaszLukawskiSam opened #275 "DropDownMenu: Press effect remains after select"
UIComponents/components/controls/dropdownmenu.html

![image](https://user-images.githubusercontent.com/29534410/62283851-c233bf80-b452-11e9-8338-d326eb262756.png)

[2019-08-01 09:56] TomaszLukawskiSam opened #276 "Search Input: Clear button is moved too much to right"
UIComponents/components/controls/searchinput/index.html

![image](https://user-images.githubusercontent.com/29534410/62284129-56058b80-b453-11e9-83da-37d555d69070.png)

[2019-08-01 09:59] TomaszLukawskiSam opened #277 "Search Bar: Looks wrong & doesn't work"
UIComponents/components/controls/searchbar/searchbar.html

![image](https://user-images.githubusercontent.com/29534410/62284386-d0cea680-b453-11e9-9086-f89afbcb8b23.png)

UIComponents/components/controls/searchbar/searchbar-with-icon.html

![image](https://user-images.githubusercontent.com/29534410/62284456-ef34a200-b453-11e9-8804-a116e964bcb1.png)

[2019-08-01 10:02] lslachciak commented on #156
@TomaszLukawskiSam  PR was merged, can we put this issue into review?

[2019-08-01 10:02] TomaszLukawskiSam opened #278 "Slider: Vertical doesn't work"
UIComponents/components/controls/slider.html

![image](https://user-images.githubusercontent.com/29534410/62284624-3cb10f00-b454-11e9-95a9-b2d79f10d99b.png)

[2019-08-01 10:08] TomaszLukawskiSam opened #279 "MoreMenu: After popup open the first item is highlighted"
UIComponents/components/popup/moremenufooter.html#?popup=true

![image](https://user-images.githubusercontent.com/29534410/62284967-fd36f280-b454-11e9-9c97-9fcb98d7792b.png)

[2019-08-01 10:19] lslachciak commented on #279
Not reproducible on 1.0 https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/popup/moremenufooter.html#?popup=true

[2019-08-01 10:20] lslachciak commented on #278
not reproducible on 1.0
https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/controls/slider.html

[2019-08-01 10:21] lslachciak commented on #277
Not reproducible on 1.0 https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/controls/searchbar/index.html

[2019-08-01 10:23] lslachciak commented on #276
Not reproducible on 1.0 https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/controls/searchbar/searchbar.html

[2019-08-01 10:24] lslachciak commented on #275
Not reproducible on 1.0
https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/controls/dropdownmenu.html

[2019-08-01 10:28] lslachciak commented on #274
reproduced on https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/controls/button/index.html

[2019-08-01 10:31] lslachciak commented on #273
In case of https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/list/expandable/expandable.html
url stays the same
but clicking back button in browser causes going back to previous page not collapsing list

[2019-08-01 10:34] lslachciak commented on #272
I think we have similar issue on 1.0:
![image](https://user-images.githubusercontent.com/2246331/62286736-a3d0c280-b458-11e9-97db-7a6a2f2a45aa.png)

https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/list/expandable/expandable.html

[2019-08-01 10:34] TomaszLukawskiSam opened #280 "Snaplistview: Selected item has dimmed text"
wearable/UIComponents/contents/list/snaplistview_no_header.html

![image](https://user-images.githubusercontent.com/29534410/62286794-c2cf5480-b458-11e9-8111-af85ef471de1.png)

[2019-08-01 10:37] lslachciak commented on #271
reproducible on 1.0
https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/list/liststyles.html

[2019-08-01 10:39] lslachciak commented on #270
reproducible on
https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/navigationelements/index.html

[2019-08-01 10:42] lslachciak commented on #269
Not reproduced on 1.0 https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/navigationelements/indexscrollbar_floating_button.html

[2019-08-01 10:44] TomaszLukawskiSam opened #281 "Listview 5 items: Text is not align to middle"
UIComponents/contents/list/list_5.html

![image](https://user-images.githubusercontent.com/29534410/62287077-66206980-b459-11e9-94b2-c9071ca3605a.png)

[2019-08-01 10:50] lslachciak commented on #267
reproduced on https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/navigationelements/tabs/tabs_with_title_2.html

[2019-08-01 10:52] lslachciak commented on #266
@TomaszLukawskiSam could you share repro path?

[2019-08-01 10:54] lslachciak commented on #222
@korneliakobiela is this TAU issue?

[2019-08-01 12:19] TomaszLukawskiSam opened #283 "Slider doesn't suppport mouse"
UIComponents/contents/controls/slider/slider.html

![image](https://user-images.githubusercontent.com/29534410/62292713-4db74b80-b467-11e9-949b-ae151b5ae33c.png)

The issue refers to Dimmer too.
UIComponents/contents/controls/dimmer.html

[2019-08-01 12:23] TomaszLukawskiSam opened #284 "Processing: Small doesn't show"
UIComponents/contents/controls/processing/small_processing.html

![image](https://user-images.githubusercontent.com/29534410/62293011-ee0d7000-b467-11e9-819c-8e54f8726acc.png)

[2019-08-01 12:25] TomaszLukawskiSam opened #285 "Processing: Full processing is cut at right side"
UIComponents/contents/controls/processing/full_processing.html

![image](https://user-images.githubusercontent.com/29534410/62293192-53f9f780-b468-11e9-9944-7244a03837f3.png)

Sending effect also is broken
UIComponents/contents/controls/processing/sending.html

[2019-08-01 12:35] TomaszLukawskiSam opened #286 "MoreOptions: JS exception on more option show."
JS exception during more option show.

![image](https://user-images.githubusercontent.com/29534410/62293573-2feae600-b469-11e9-901a-de4c029ec520.png)

[2019-08-01 13:27] TomaszLukawskiSam commented on #156
I think that we can close the issue.

[2019-08-01 13:32] TomaszLukawskiSam commented on #117
I verified the issue on latest version of TAU. The issue was solved by patch for another issue.
https://samsung.github.io/TAU/examples/1.0/examples/wearable/UIComponents/contents/list/virtual/1line_btn.html

[2019-08-02 06:27] lslachciak commented on #279
Reproducible on https://samsung.github.io/TAU/examples/1.1/examples/mobile/UIComponents/components/popup/moremenufooter.html#?popup=true

[2019-08-02 06:43] lslachciak commented on #278
reproduced on 1.1
https://samsung.github.io/TAU/examples/1.1/examples/mobile/UIComponents/components/controls/slider.html

[2019-08-02 06:51] lslachciak commented on #286
@TomaszLukawskiSam  do you mean this item
https://samsung.github.io/TAU/examples/1.1/examples/mobile/UIComponents/components/popup/moremenufooter.html#?popup=true
could you recheck?

[2019-08-02 06:57] lslachciak commented on #285
I'm not able to reproduce this on https://samsung.github.io/TAU/examples/1.1/examples/wearable/UIComponents/contents/controls/processing/full_processing.html
(when going form UIComponents)

[2019-08-02 07:02] lslachciak commented on #284
This is also 1.0 issure
https://samsung.github.io/TAU/examples/1.0/examples/wearable/UIComponents/

https://samsung.github.io/TAU/examples/1.1/examples/wearable/UIComponents/

[2019-08-02 07:06] lslachciak commented on #280
Reproduced on 1.0 too
https://samsung.github.io/TAU/examples/1.0/examples/wearable/UIComponents/

[2019-08-02 07:10] lslachciak commented on #273
In case of 1.0 behavior is different but also problematic (back button is not available)
https://samsung.github.io/TAU/examples/1.1/examples/mobile/UIComponents/components/list/expandable/expandable.html

[2019-08-02 07:19] TomaszLukawskiSam commented on #266
The issue is not occurring in TAU 1.0

[2019-08-02 07:28] lslachciak commented on #266
1.0 https://samsung.github.io/TAU/examples/1.0/examples/mobile/UIComponents/components/headerfooter/header/lefticon.html
1.1 https://samsung.github.io/TAU/examples/1.1/examples/mobile/UIComponents/components/headerfooter/header/lefticon.html

[2019-08-02 07:43] korneliakobiela commented on #222
I think yes, because TAU is responsible for buttons style and look. But if you would like, I can transfer this issue to DE repository.

[2019-08-02 07:45] TomaszLukawskiSam commented on #266
The issue is caused by patches dedicated for DE. Purpose of the change was add feature to buttons to change icons and other properties in during life of widget. In short, this change was required for change button look without DE page reload.

[2019-08-02 09:19] lslachciak commented on #117
Works good

[2019-08-02 09:19] #117 closed

[2019-08-02 09:27] #156 closed

[2019-08-02 11:32] wszczepanski97 commented on #80
PR is waiting for merge #121

[2019-08-02 11:33] wszczepanski97 commented on #79
PR is waiting for review #121

[2019-08-04 09:43] TomaszLukawskiSam commented on #277
The issue is solved by patch for another issue (https://github.com/Samsung/TAU/pull/288).

[2019-08-04 09:45] TomaszLukawskiSam commented on #269
The issue is solved by patch for another issue (https://github.com/Samsung/TAU/pull/288).

[2019-08-05 04:27] TomaszLukawskiSam commented on #285
Issue still exists. Verified also on emulator 5.0

![image](https://user-images.githubusercontent.com/29534410/62438931-f6a4c580-b749-11e9-983d-b67577c9634b.png)

[2019-08-05 04:33] TomaszLukawskiSam commented on #286
Issue still exists.

![image](https://user-images.githubusercontent.com/29534410/62439080-c4e02e80-b74a-11e9-8531-bda99fd44e48.png)

[2019-08-05 04:34] TomaszLukawskiSam commented on #286
You attached example to mobile profile. Did you verified mobile profile or wearable profile?

[2019-08-05 04:41] TomaszLukawskiSam opened #289 "Rotary of bezel changes position of list twice on one tick"
Issue is occurring on Emulator 5.0.

[code]

[2019-08-05 11:00] TomaszLukawskiSam commented on #272
The issue seems not trivial.
There is three lists inside one list.

[code]
Purpose of this code was find sibling lists but in this case, found lists are not sibling of main list.

[2019-08-05 11:39] TomaszLukawskiSam commented on #270
In previous version of Tizen, the TAU supported page indicator like "bars".
![image](https://user-images.githubusercontent.com/29534410/62461783-fa563d80-b785-11e9-9fd2-9063217f0471.png)

We have to decide if unify page indicator to dots (remove one unnecessary page) or implement bars.

[2019-08-06 10:37] TomaszLukawskiSam commented on #285
@lslachciak
Hi, can you check the issue again? Thank You :)

[2019-08-06 10:38] TomaszLukawskiSam commented on #286
@lslachciak
The issue is occurring only on wearable profile.

[2019-08-06 11:48] pkaczmarczy commented on #289
The root cause is related to emulator itself.
I have created an empty web app in Tizen Studio (without TAU) and I have registered listener on "rotarydetent" event.
On emulator "rotarydetent" event was triggered twice for each bezel movement.
Here are some logs:
`D/POWER_MANAGER( 2212): input.c: process_event(93) > type 2 fd 14
I/POWER_MANAGER( 2212): core.c: reset_timeout(703) > Reset Timeout (293

[2019-08-06 11:51] TomaszLukawskiSam commented on #289
@lslachciak
Based on above comment we can close this issue as not related to TAU project and reporting issue to TizenStudio team.

[2019-08-06 11:53] pkaczmarczy opened #297 "Unify handling of mouse and touch events"
Handling of mouse and touch events should be unified across all of the widgets.
For now some of them are registering listeners for both mouse* and touch* events and the rest use vmouse* events.

[2019-08-07 14:35] pkaczmarczy opened #299 "Incorrect cursor position"
After calling focus cursor should be placed at the end of existing text content

[2019-08-07 14:39] pkaczmarczy opened #301 "TV: Lost focus after showing keyboard"
Recomendations -> empty page -> search page

After showing keyboard for textinput focus is moved to tabs

[2019-08-08 07:44] TomaszLukawskiSam commented on #284
Cause of the issue is evaluation inline js scripts loaded by XMLHttp request. When the same script is loading from file the issue is not occurring.

[2019-08-08 09:28] pkaczmarczy commented on #281
PR has been already merged.

[2019-08-08 09:30] pkaczmarczy commented on #301
PR has been already merged

[2019-08-08 09:30] #301 closed

[2019-08-08 09:30] pkaczmarczy commented on #299
PR has been already merged.

[2019-08-08 09:30] #299 closed

[2019-08-08 09:31] pkaczmarczy commented on #278
PR has been already merged.

[2019-08-08 09:49] TomaszLukawskiSam commented on #283
The PR will be moved to 1.0

[2019-08-08 10:58] pkaczmarczy commented on #270
Connected issue: https://github.com/Samsung/TAU/issues/176

[2019-08-08 11:07] pkaczmarczy commented on #176
Duplicated content of https://github.com/Samsung/TAU/issues/270

[2019-08-08 11:07] #176 closed

[2019-08-08 12:06] #266 closed

[2019-08-08 12:07] lslachciak commented on #268
@TomaszLukawskiSam  shouldn't we make PR to 1.0 also?

[2019-08-08 12:09] #269 closed

[2019-08-08 12:29] lslachciak commented on #271
please prepare PR with cherry pick for 1.0

[2019-08-08 12:34] patuwwy opened #306 "Add dist.zip to published release"
As a programmer, I want to get the latest version. To get it, I need to download the entire repo (> 200 MB) or files from dist. It may be useful to add the dist- {version} .zip file when publishing a new release on GitHub.

[2019-08-08 12:46] lslachciak commented on #286
@TomaszLukawskiSam this issue is still not reproducible.
After visiting url
https://samsung.github.io/TAU/examples/1.1/examples/wearable/UIComponents/contents/moreoptions/index.html
no issue with more options
![image](https://user-images.githubusercontent.com/2246331/62704269-3c33ed80-b9eb-11e9-9931-5de9bd609581.png)

[2019-08-08 12:50] lslachciak commented on #289
After creating issue to TizenStudio team we can close it

[2019-08-08 13:09] lslachciak commented on #285
Issue reproducible on emulator

[2019-08-09 11:38] TomaszLukawskiSam commented on #270
The patch solved the issue.

[2019-08-09 11:38] #270 closed

[2019-08-09 11:40] TomaszLukawskiSam commented on #278
The patch solved the issue.

[2019-08-09 11:40] #278 closed

[2019-08-09 11:52] TomaszLukawskiSam commented on #281
The issue has solved.

[2019-08-09 11:52] #281 closed

[2019-08-09 11:53] TomaszLukawskiSam commented on #285
The issue has solved.

[2019-08-09 11:53] #285 closed

[2019-08-09 11:59] TomaszLukawskiSam commented on #268
The patch has already merged to TAU 1.0

[2019-08-09 11:59] TomaszLukawskiSam commented on #271
The patch has already merged to TAU 1.0

[2019-08-09 12:01] TomaszLukawskiSam commented on #272
The patch has already merged to TAU 1.0

[2019-08-09 12:01] TomaszLukawskiSam commented on #275
The patch has already merged.

[2019-08-09 12:02] TomaszLukawskiSam commented on #284
The patch has already merged.

[2019-08-09 12:10] lslachciak commented on #284
fixed in 1.1

[2019-08-09 12:11] #284 closed

[2019-08-09 12:14] #268 closed

[2019-08-09 12:16] #271 closed

[2019-08-09 12:18] #272 closed

[2019-08-09 12:22] #273 closed

[2019-08-09 12:23] lslachciak commented on #275
fixed

[2019-08-09 12:23] #275 closed

[2019-08-09 12:25] TomaszLukawskiSam commented on #201
@lslachciak
Is the issue duplicated with #192

[2019-08-09 12:52] pkaczmarczy commented on #192
The PR has been merged.

[2019-08-09 12:53] #283 closed

[2019-08-09 12:58] #277 closed

[2019-08-09 13:04] pkaczmarczy opened #315 "Processing: Incorrect z-index"
Processing effect is overlapped by other elements i.e. arcListview highlight

![image](https://user-images.githubusercontent.com/38784474/62780848-e75da900-bab6-11e9-85b3-0fbd6b0e395e.png)

[2019-08-09 13:36] lslachciak commented on #306
I added dist.zip to the two latest releases:
https://github.com/Samsung/TAU/releases

[2019-08-09 14:11] patuwwy commented on #306
Awesome! Thanks!

[2019-08-09 14:11] #306 closed

[2019-08-09 14:40] pkaczmarczy opened #318 "Arclistview: Highlight overlaps the scrollbar"
Issue reproducible only on device.

[2019-08-11 06:29] TomaszLukawskiSam commented on #182
@pkaczmarczy
Probably you added new items in wrong way. After add some list items you should use refresh() method on listview.

[code]

[2019-08-11 06:43] TomaszLukawskiSam commented on #279
@lslachciak
The patch has been already merged.

[2019-08-11 09:52] TomaszLukawskiSam commented on #222
The PR with patch is ready to review.

Sample view:
![image](https://user-images.githubusercontent.com/29534410/62832445-6c1f0300-bc2e-11e9-8196-4e4a32268df1.png)

[2019-08-11 10:09] TomaszLukawskiSam commented on #160
@pkaczmarczy

The issue is solved by patch for another issue (#288).

[2019-08-12 11:15] pkaczmarczy commented on #315
PR has been merged

[2019-08-12 11:15] #315 closed

[2019-08-12 11:15] pkaczmarczy commented on #280
PR has been already merged.

[2019-08-12 12:18] lslachciak commented on #289
@pkaczmarczy could you recheck issue on latest emulator?

[2019-08-12 12:24] pkaczmarczy commented on #289
With Build=tizen-unified_20181024.1; issue exists.

With newer emulator images issue does not occur, tested with:
 - tizen-unified_20190812.1
 - tizen-4.0-unified_20190802.1

[2019-08-12 12:25] lslachciak commented on #289
because it is not reproducible on latest emulator, closing issue

[2019-08-12 12:25] #289 closed

[2019-08-12 12:36] lslachciak commented on #192
Fixed in 1.0, 1.1. need to be updated

[2019-08-12 12:36] #192 closed

[2019-08-13 08:21] lslachciak commented on #279
fixed

[2019-08-13 08:21] #279 closed

[2019-08-13 08:23] pkaczmarczy commented on #182
Yes, You're right.
Refresh call is required to correctly add an item.
I will close this issue.

[2019-08-13 08:23] #182 closed

[2019-08-13 09:48] lslachciak commented on #215
staging url for verfication:
https://docs.stg.tizen.org/staging/801/application/web/api/5.0/ui_fw_api/Wearable_UIComponents/wearable_popup.htm#popup-transitions

[2019-08-13 11:08] pkaczmarczy commented on #203
I did not found corresponding widget in guidelines.

I have run example from documentation and it look like this: (I have run this with rectangular stylesheet - this widget does not have circular stylesheet implemented):

![Screenshot from 2019-08-13 13-06-43](https://user-images.githubusercontent.com/38784474/62936954-6a3e7680-bdcb-11e9-90fa-e3110abf3411.png)

With short text:
![Screenshot from 2

[2019-08-13 12:19] TomaszLukawskiSam commented on #267
The patch has already merged

[2019-08-13 12:20] TomaszLukawskiSam commented on #274
The patch has already merged

[2019-08-14 06:40] lslachciak commented on #203
Because this is not a part of guidelines for 4.0/5.0 I think we should remove it from doc.
Could you prepare PR removing this site from documentation?

[2019-08-14 06:49] #274 closed

[2019-08-14 07:10] #267 closed

[2019-08-14 08:05] TomaszLukawskiSam commented on #177
The issue is complicated because command line test engine (based on PhantomJs) is not supporting bundle file.

[2019-08-14 08:59] pkaczmarczy commented on #203
PR: https://github.com/Samsung/tizen-docs/pull/804
I am not able to add you as reviewers to this PR.

[2019-08-14 09:12] lslachciak commented on #203
Since Tizen 5.0, --> Since Tizen 4.0,

[2019-08-14 10:33] #222 closed

[2019-08-14 10:36] #276 closed

[2019-08-14 10:53] TomaszLukawskiSam commented on #280
The issue has solved.

[2019-08-14 10:53] #280 closed

[2019-08-14 11:29] pkaczmarczy commented on #318
This issue is more complicated. I will switch to different problem for now.

[2019-08-14 12:08] pkaczmarczy opened #329 "Multiline list broken view"
![Screenshot from 2019-08-14 14-06-18](https://user-images.githubusercontent.com/38784474/63019870-dccb5700-be9c-11e9-9a95-64c82bee6422.png)
UIComponents -> List -> MarqueeList or UIComponents -> List -> SnapMarqueeList

[2019-08-16 09:04] TomaszLukawskiSam commented on #329
This issue has already closed.

[2019-08-16 09:09] #329 closed

[2019-08-16 09:38] TomaszLukawskiSam opened #335 "Verify replacement TAU.js by tau.bundle.js in apps"
Check possible issues.

- verification on devices (from Tizen 2.3.2 wearable)
- verification in sample apps
- performance tests
- (lower priority) ideas for performance improvement

[2019-08-16 09:42] TomaszLukawskiSam opened #336 "Check simultaneous existence of tau.js and tau.bundle.js"
on the same time on the same page.

[2019-08-16 09:46] TomaszLukawskiSam opened #337 "The listview in popup doesn't work correctly"
This situation is occurring in Drawer example.
related to (#201)

[2019-08-16 09:48] TomaszLukawskiSam opened #338 "Listview in popup doesn't work correctly"
Issue related to Drawer example (#201 )

[2019-08-16 09:58] TomaszLukawskiSam commented on #286
The issue is complex. Example of "More menu" for wearable has two different html for both circular and square profile on the same page. This cause several issues.

[2019-08-16 09:59] #338 closed

[2019-08-16 10:28] singa2000 commented on #336
Now it's not high priority.
If tau.js and tau.bundle.js include simultaneous, the size is too large.
Now...I'm think it's not good solution.

[2019-08-16 12:19] pkaczmarczy commented on #160
The patch solved the problem.

![Screenshot from 2019-08-16 14-18-42](https://user-images.githubusercontent.com/38784474/63167197-d66de400-c030-11e9-9d74-1a18ceb08008.png)

[2019-08-16 12:19] #160 closed

[2019-08-18 04:41] TomaszLukawskiSam commented on #80
The PR has already merged. The issue can be close.

[2019-08-18 04:42] TomaszLukawskiSam commented on #79
The PR has already merged. The issue can be close.

[2019-08-18 04:48] TomaszLukawskiSam commented on #133
Deprecated CustomElement API has removed by commit: https://github.com/Samsung/TAU/commit/a9a76d55fb5a93f5dd79b467898f6569246a1ce4

@lslachciak
Can the issue close?

[2019-08-19 02:59] singa2000 commented on #335
When it test, would you compare the launch performance, please?

[2019-08-19 08:16] singa2000 opened #339 "tau/mobile/theme/changeable/tau.iot.css ,tau.iot.min.css is not needed"
In the TAU 1.1 dist folder, there are  mobile/theme/changeable/tau.iot.min.css and tau.iot.css.
It looks not needed.
Because we do not use IoT Template anymore.
Would you check it,please?

[2019-08-19 10:33] TomaszLukawskiSam commented on #335
Mobile profile:
 - Emulator (2.4)
  "TypeError: Type error " : tau.bundle.js:1

[2019-08-19 10:35] pkaczmarczy commented on #335
I have started checking 3.0 wearable emulator (tizen-3.0-wearable_20171211.1 from Tizen Studio 3.3).

With TAU 1.1 and tau.js loaded Graph widget works correct.

After I have launched the app with tau.bundle.js I get the error:

[code]

[2019-08-19 12:18] pkaczmarczy commented on #335
I have collected data about tau.js and tau.bundle js execution time on tizen 4.0 wearable emulator (from SDK).
Bundled file execution time takes much more time (about 800 - 900 ms) compared to normal tau.js file (about 220 - 250 ms). I attach the plot showing collected data:
![timing](https://user-images.githubusercontent.com/38784474/63264722-0ebd2e80-c28c-11e9-8689-966de6363548.png)
It should be

[2019-08-19 14:52] TomaszLukawskiSam commented on #335
Data collected for Emulator 4.0 mobile for bundle and not bundle TAU.

**tau.js**
time of script evaluation 104ms
![image](https://user-images.githubusercontent.com/29534410/63274516-33230600-c2a0-11e9-9d59-c150f27fec15.png)

**tau.bundle.js**
time of script evaluation 590ms
![image](https://user-images.githubusercontent.com/29534410/63274744-9f9e0500-c2a0-11e9-995c-034cce840e17.png)

| Version |

[2019-08-19 15:04] TomaszLukawskiSam commented on #335
The feature of TAU bundle has prepared as specific for Design Editor requirement and as solution for all framework features in one file package. Above data shows that this solution is very time consuming. For better performance we should rather deliver for developers light version of framework instead of big package.
After analyzing applications that uses the TAU, one comes to the conclusion that

[2019-08-20 02:14] singa2000 commented on #335
Thanks for your analysis.
How about the memory size?

[2019-08-20 03:59] TomaszLukawskiSam commented on #335
Memory usage

**tau.bundle.js**
![image](https://user-images.githubusercontent.com/29534410/63316325-c7c44d00-c30e-11e9-99dc-1a2395f9b252.png)

**tau.js**
![image](https://user-images.githubusercontent.com/29534410/63316364-ede9ed00-c30e-11e9-9eda-7201f80d66e9.png)

| version | tau.js | tau.bundle.js | difference |
| - | - | - | - |
| emulator 4.0 | 3.9 MB - 6.8 MB | 9.5 MB - 15 MB | more min: 243

[2019-08-20 05:01] singa2000 commented on #335
It's good.~
Thanks for your analysis.
We can be close it

[2019-08-21 02:44] singa2000 commented on #336
It' not needed.
So I closed the issue

[2019-08-21 02:44] #336 closed

[2019-08-21 02:56] singa2000 commented on #335
Would you check it again, please?
1. With TW1 device the difference in execution time is even bigger: ~1.5seconds vs 6-8 seconds.
   => Did you measure it by  you see on the screen?
         Would you check it again, please? It's too bigger.
2.  Would you check memory and launch performance by each external library, please?
3.  Would you consider  how to divide TAU by component like JQuery?
     J

[2019-08-21 07:11] TomaszLukawskiSam commented on #335
I'll verify again and answer you.

[2019-08-21 08:32] TomaszLukawskiSam commented on #335
Device TW1
Model=Tizen4/Unified;
Build=tizen-4.0-unified_20190412.1;
Release=20190412.1;
[Build]
Type=eng;
Date=20190412_023613;
Time=02:36:13;
Variant=NONE;
ID=tizen-4.0-unified;

![image](https://user-images.githubusercontent.com/29534410/63415071-69c26300-c3fd-11e9-92d6-1d8daa577687.png)

How data was collected:
- import UIComponents with tau.bundle.js as Tizen project
- install & launch
- open

[2019-08-21 09:42] TomaszLukawskiSam commented on #335
**d3.min.js + tauCharts.min.js + jquery.js + r-type.min.js + tau.js**
![image](https://user-images.githubusercontent.com/29534410/63421027-28838080-c408-11e9-9a6c-5df0a01342dd.png)

| file | time |
| - | - |
| d3.min.js | 424ms |
| tauCharts.min.js | 1500ms |
| jquery.js | 310m |
| r-type.min.js | 1960ms |
| tau.js | 960ms |

[2019-08-21 10:14] TomaszLukawskiSam commented on #335
Point 1.
I think I confirmed ealier results.
During tests I saw how the app is showing on screen.

Point 2.
I prepared times of script evaluation for all libraries. In case of memory utilisation I have to prepare methodology.

Point 3.
At the moment all libraries are as separate files, eg. /UIComponents/contents/graphs/static_graph.html

[2019-08-22 07:04] singa2000 commented on #335
Would you also check the memory size each external library, please?

[2019-08-22 07:25] TomaszLukawskiSam commented on #335
Ok. It will take me a while.

[2019-08-22 09:12] TomaszLukawskiSam commented on #335
I updated my comment above (https://github.com/Samsung/TAU/issues/335#issuecomment-523382177)

[2019-08-25 11:59] martijnvankekem opened #342 "ui-listview-divider breaks listview"
Both in the latest stable (1.0.3) as in the newest version (1.1.3), using an ui-listview-divider element inside a listview breaks the listview itself.

When scrolling, the item is not centered anymore because the extra scroll-space is not calculated. When inserting multiple ui-listview-divider elements, the scroll steps become so small you even have to scroll 5 times to go to the next item.

[2019-08-26 16:02] sstimac opened #344 "React with TAU"
First of, my apologies if this is not the place to ask these types of questions, but i couldn't find a more fitting place to ask this.

I'm currently working on a wearable web app, and i'm using React to do so. As you can image, React doesn't play well with other DOM manipulation methods, such as TAU, making it really difficult to include the library into the existing React component lifecycle. Wh

[2019-08-29 09:18] pkaczmarczy opened #347 "Graph: Changing chart type"
The widget has a problem with changing chart type dynamicly (using option property or changing attribute and refreshing widget).

It looks like widget does not recognize correctly type to prepare acceptable data for tauCharts.

[2019-08-30 06:37] TomaszLukawskiSam opened #348 "Floating Button: is too wide"
![image](https://user-images.githubusercontent.com/29534410/63998353-33719b80-cb01-11e9-9041-faf89e7c74a6.png)

[2019-09-02 11:00] TomaszLukawskiSam commented on #348
The PR has already merged.

[2019-09-02 11:00] #348 closed

[2019-09-02 11:45] TomaszLukawskiSam commented on #177
The PR has already merged.

[2019-09-02 12:55] #215 closed

[2019-09-02 12:55] #177 closed

[2019-09-02 12:57] #133 closed

[2019-09-03 12:02] pkaczmarczy opened #356 "Use bundled external libraries packages instead of linking multiple resources in UIComponents"
UIComponents app still uses multiple third party libraries instead using tau bundled packages.

[2019-09-04 10:49] lslachciak opened #358 "Change output filenames and path"
Files which should be in output
tau.js
tau.graph.js
tau.i3d.js
tau.coverflow.js

Also try to make path like
dist/common/js/tau.graphs.js
simpler (shorter)

[2019-09-05 14:47] TomaszLukawskiSam commented on #201
The change has already merged.

[2019-09-06 08:32] TomaszLukawskiSam commented on #342
I've reproduced the issue. Now I try to resolve the issue.

[2019-09-06 09:00] pkaczmarczy opened #366 "SnapList: Newly added items cannot be selected"
New items after refresh take correct syling, but they cannot be selected

[2019-09-06 09:45] martijnvankekem opened #368 "Unknown 'speechSynthesis' error in listview-only page"
After opening the app, for a very specific group of people (I haven't found out which people do have this problem and which people don't. A friend of mine does have this problem while I have the same watch and don't have this problem), the app reports an error immediately on the following:

Uncaught TypeError: Cannot assign to read only property 'speechSynthesis' of object '#'
filename: file:///li

[2019-09-06 09:48] martijnvankekem opened #369 "Option menu icons disappearing on Gear S3."
When using the 'More options circle' widget on a wearable device, the icons disappear upon selecting, only on the Gear S3 (as far as I found out).

The reason behind this is that the transform: scale(1) property when selected is replaced by transform: scale(0, 8236), while it should be replaced with scale(0.8236) in order to apply the correct scale.

I was able to 'hack' a fix by adding a .replace

[2019-09-06 12:55] pkaczmarczy commented on #366
This issue is caused by incorrect scrollable height calculation during refresh.
This should be recalculated during refresh function. This is a quite complicated task when listview is already built because some elemens are changing its dimensions (scaling to show hide effect)

[2019-09-06 13:08] #201 closed

[2019-09-06 13:30] TomaszLukawskiSam commented on #342
The issue is caused by bug in submodule for scrolling. The scrolling tool assumes that all list items have the same height as first child element - this is wrong assumption and needs fix.
The fix will be to define snap points for the list items. The widget API will not change.

[2019-09-09 08:04] lslachciak commented on #369
We have this on to do list.

[2019-09-09 08:07] lslachciak commented on #368
We have this on to do list. We need to consult web engine team for this issue too.
Maybe this issue is related somehow to accessibility support (speech synthesis) in web engine

[2019-09-09 08:28] lslachciak commented on #368
@martijnvankekem could you attach sample app so we can try reproduce this issue?

[2019-09-09 08:29] lslachciak commented on #369
@martijnvankekem could you attach sample app so we can try reproduce this issue?

[2019-09-09 15:17] pkaczmarczy commented on #358
I have few propositions to put those files:
1)
[code]
2)
[code]
3)
[code]

Dear @lslachciak  Could you please share your opinion which suits the best?
Personally i like the third option the most.

[2019-09-10 07:20] lslachciak commented on #358
@pkaczmarczy personally I like libs folder idea

[2019-09-10 09:41] TomaszLukawskiSam commented on #342
@martijnvankekem
Hi, the hotfix is almost done. I have only one small suggestion to the app.
When snaplistview has list devider as first item then header should be have class `ui-header-smaller` because divider takes some space.
In other case when you use snaplistview you should add `ui-header-big`.

[2019-09-10 10:14] pkaczmarczy commented on #368
I assume that this problem is caused by fastMerge function. For tau 1.1.3 dist the line which throws an exception corresponds with this piece of code:
[code]

I have forced problem reproduction by calling ```tau.util.object.fastMerge(window, {speechSynthesis: {}});``` (this only reproduces error code, not the actual application behavior) and I get:
[code]
We could add additional checks to merge fu

[2019-09-10 11:57] lslachciak commented on #347
@pkaczmarczy
Is this fixed after
https://github.com/Samsung/TAU/pull/346
or we still need some work here?

[2019-09-10 12:02] lslachciak commented on #342
@martijnvankekem  issue was fixed in TAU 1.0.7
https://github.com/Samsung/TAU/releases/tag/1.0.7

Could you close issue if the fix is OK for you?

[2019-09-10 12:04] lslachciak commented on #366
I'll close this issue after getting confirmation that it is working well

[2019-09-10 13:37] pkaczmarczy commented on #347
No, it's a different problem. It needs more work.

[2019-09-10 15:09] pkaczmarczy commented on #356
PR ready: https://github.com/Samsung/TAU/pull/374

[2019-09-10 15:09] pkaczmarczy commented on #358
I have prepared the PR: https://github.com/Samsung/TAU/pull/374

[2019-09-10 16:07] martijnvankekem commented on #368
I also don't know why this function would be called, and unfortunately, I can't reproduce where it came from, because I received this error message from users that are using my app.

But, because this function returns the object, isn't this just a matter of returning a modified copy of 'newObject'?

So something like:

`modObject = {};
for (var attrname in newObject) { modObject[attrname] = newObj

[2019-09-10 16:12] martijnvankekem commented on #342
Great, thank you!

[2019-09-10 16:12] #342 closed

[2019-09-12 11:40] pkaczmarczy commented on #368
This method modifies original object by design. (Such behavior is used in BaseWidget class, and this implementation expects that original object would be modified and conflicting properties would be overridden).

Modified version of method: https://github.com/Samsung/TAU/pull/379

[2019-09-12 18:48] martijnvankekem commented on #369
I was able to fix this issue with the following 'hack', which of course isn't something you'd want in a production version:

1. I changed the ITEM_NORMAL_SCALE to 0.8 for simplicity
2. I added these lines below the `[obj].style.transform.replace(DEFAULT.ITEM_ACTIVE_SCALE,
							DEFAULT.ITEM_NORMAL_SCALE);` in the ns.widget.wearable.Selector._setActiveItem function and also below the `newTransform

[2019-09-13 07:27] martijnvankekem opened #380 "TAU Online examples throw 404 not found"
Visiting the TAU examples like https://samsung.github.io/TAU/examples/wearable/UIComponents/index.html, throw a 404 error since a couple of weeks.

[2019-09-13 08:06] pkaczmarczy commented on #358
PR has been already merged.

[2019-09-13 08:10] pkaczmarczy commented on #356
PR has been already merged.

[2019-09-13 08:12] #356 closed

[2019-09-13 08:14] pkaczmarczy commented on #203
The https://github.com/Samsung/tizen-docs/pull/804 has been already merged into tizen-docs repository

[2019-09-13 08:31] #203 closed

[2019-09-13 08:33] lslachciak commented on #358
Follow up issue:
https://github.com/Samsung/TAU-Design-Editor/issues/328

[2019-09-13 08:33] #358 closed

[2019-09-13 10:45] pkaczmarczy commented on #368
Dear @martijnvankekem ,
The PR has been merged, could you please let us know if it fixes the problem for you?

[2019-09-13 11:16] lslachciak commented on #368
Fix will be part of 1.0.8 release

[2019-09-13 11:40] lslachciak commented on #380
@martijnvankekem
we didn't know that anyone is using this url :)
This was changed recently for performance reasons of code.tizen.org

Officially you can use access examples from
1. Documentation sites e.g
https://docs.tizen.org/application/web/api/5.0/ui_fw_api/Mobile_UIComponents/mobile_Button.htm
--> use "use example" button
2. Using direct url:
https://code.tizen.org/TAU/1.0/examples/mobile/UIC

[2019-09-13 12:05] lslachciak commented on #380
@martijnvankekem now site https://samsung.github.io/TAU/ contains proper links to TAU examples
e.g. https://code.tizen.org/TAU/1.0/examples/mobile/UIComponents/

[2019-09-13 12:22] #368 closed

[2019-09-13 12:25] martijnvankekem commented on #380
Great, thanks!

[2019-09-13 12:25] #380 closed, assigned to martijnvankekem

[2019-09-13 15:05] martijnvankekem opened #387 "NumberPicker: auto-created 'Set' button not destroyed when calling destroy()"
When calling the `destroy()` method of a NumberPicker, the auto-created 'Set' button does get its class `ui-number-picker-set` removed, but the element itself stays in place.

This goes wrong when executing these steps:

1. A page is called by `tau.changePage("#page");`
2. The NumberPicker is created
3. An other page is called by `tau.changePage("#otherPage");` and thus the `NumberPicker.destroy()

[2019-09-13 20:09] martijnvankekem opened #388 "SnapListview: scroll position not resetted when switching pages"
**Seems to be working in 2.1.4, not in 2.0.8**

When creating a listview, and then switching to another page and after that returning to that same page, all by using the `tau.changePage()` method, the maximum scroll amount is limited by the item you've got currently selected.

Example:
A listview has 3 items, when the 3rd item is active and `tau.changePage()` is called, after returning to that pag

[2019-09-15 07:49] TomaszLukawskiSam commented on #369
I cannot reproduce the issue. I try to understand what happen. In my opinion possible are two options:
1.The issue is caused by device localization and  a changing number format from "0.8" to "0,8" in web engine.
2. CSS "scale()" property allows one or two arguments. Maybe web engine converted this style argument from one argument to two arguments eg. "scale(0.8)" to "scale(0, 8)"

[2019-09-15 08:22] TomaszLukawskiSam commented on #369
@martijnvankekem
I prepared patch (https://github.com/Samsung/TAU/pull/389) for a test.

[2019-09-17 13:52] HunseopJeong opened #393 "SnapListview: Scroll is not working via bezel"
Test with TAU 1.0.8 on the SnapListView

Problem: If you move the page several times,
              you can see that the scroll using bezel does not work properly in SnapListView.

[2019-09-17 14:30] HunseopJeong commented on #393
#395 seems to resolve the issue.
So I close issue.

[2019-09-17 14:30] #393 closed, assigned to nobody

[2019-09-19 11:39] korneliakobiela opened #397 "Progress element cannot be selected in Design Area"
## Technical
Profile: Mobile
## Description
User cannot select added progress element in the Design Area. Only the structure view is available then.
## Steps to reproduce
1. Create a new project in Design Editor
2. Add progress element
3. Save the file
4. Close and Reopen DE (until Samsung/TAU-Design-Editor#368 is done).
5. Try to select progress element clicking on it

## Expected behaviour
The p

[2019-09-19 14:05] korneliakobiela commented on #397
This is TAU issue. I will transfer it to TAU and fix.

[2019-09-23 11:51] #366 closed

[2019-09-25 12:37] pkaczmarczy opened #405 "Date Picker - day indicator is overlapped"
![Screenshot from 2019-09-25 14-37-15](https://user-images.githubusercontent.com/38784474/65601236-fd112a00-dfa1-11e9-9ee1-4a7e3e58543a.png)

Day indicator is hidden under "Set" button

[2019-09-25 12:39] pkaczmarczy opened #406 "Time Picker - Only Hours can be changed with rotarydetent event"
Only hours picker can be turned using bezel.
If Hours picker is not currently set as active it is always set to "01" after rotarydetent event

[2019-09-25 13:40] lslachciak commented on #388
@martijnvankekem I think https://github.com/Samsung/TAU/commit/6c22539c1d6a7bca3ce622c8926007b17fdf5537
which was released with TAU 1.0.9 and exists in TAU 1.0.10 fixes your issue.
Could you confirm?

[2019-09-26 07:24] ampanasiuk commented on #369
Reproducible on Galaxy Watch. Thanks to @martijnvankekem for debugging the root cause. I've tweaked the solution a bit in #408.

[2019-09-26 10:38] pkaczmarczy opened #409 "Wearable UIComponents: "Open timepicker" blue background"
![W-5 0-circle-x86-2019-09-26-123725](https://user-images.githubusercontent.com/38784474/65682096-8a17ba00-e05a-11e9-9d9c-32349280dba5.png)

The background should not be visible

[2019-09-27 08:35] pkaczmarczy opened #411 "ExpandableList active effect is applied to whole sublist"
As in description.
Example screen:
![Screenshot from 2019-09-27 10-34-51](https://user-images.githubusercontent.com/38784474/65754992-7f206080-e112-11e9-8860-be2910ec1f05.png)

[2019-09-27 11:24] pkaczmarczy opened #413 "SwipeList: Text and icon are overlapped"
​​Icon overlaps text after activating swipe list element
![wc-0927-1-2019-09-27-123924](https://user-images.githubusercontent.com/38784474/65765987-f2819c80-e129-11e9-8107-5ff9e9f0291c.png)

[2019-09-27 12:58] pkaczmarczy commented on #409
PR has been already merged

[2019-09-27 12:58] #409 closed, assigned to pkaczmarczy

[2019-09-29 05:20] TomaszLukawskiSam opened #415 "UIComponents: Can't scroll down to the bottom of screen after back"
[PRECONDITION]
- Install app TAU UI Components

[STEP]
1. Open TAU UI Components
2. Header and Footer
3. Tap on Bottom Button
4. Back key

[OBSERVE]
Can't scroll down to the bottom of screen after back Bottom Button

[EXPECTED RESULT]
Should scroll nornal

![image](https://user-images.githubusercontent.com/29534410/65826661-7aca8380-e289-11e9-825a-c396d313498c.png)

[2019-09-29 05:33] TomaszLukawskiSam commented on #415
The PR is waiting for review.

[2019-09-29 05:46] TomaszLukawskiSam opened #417 "Page: position of scroll is resetting after back from another page"
[PRECONDITION]
- Install app TAU UI Components

[STEP]
1. Open TAU UI Components
2. Navigation Elements
3. Tabs
4. Blue example
5. Back key
6. Obs

[OBSERVE]
Page position is wrong after back from previous page

[EXPECTED RESULT]
Page should be positioned correct after back from previous page

[2019-09-29 10:34] TomaszLukawskiSam opened #419 "Highlight: There are 2 animations when tapping "x" icon"
There are 2 animations ( blue rectangle & blue circle) when tapping "x" icon

[PRECONDITION]
- Install app TAU UI Components

[STEP]
1. Open app > recommendation> text input with button>  input text >  tap on X icon> obs

2. Open app > control> tewcontrol/Text Enveloper >  input text >  tap on X icon> obs

3. any option that can be input text and tap on X icon

[OBSERVE]
 There are 2 animations (

[2019-09-30 07:25] TomaszLukawskiSam commented on #369
The PR has been merged. Can we close the issue?

[2019-09-30 07:38] #369 closed

[2019-09-30 08:22] TomaszLukawskiSam opened #421 "Drawer: background color is not proper"
Issue: Drawer background is blue, It should be white

[PRECONDITION]
- Install app TAU UI Components

[STEP]
1. Open app > Navigation> Drawner> open > obs:

[OBSERVE]
 blue background is displayed below list item

[EXPECTED RESULT]

it shoule be white/grey

![image](https://user-images.githubusercontent.com/29534410/65861009-c190aa00-e36b-11e9-83fb-810da39918ae.png)

[2019-09-30 10:14] pkaczmarczy opened #424 "TextInput: Remove text button position"
The fix for icon position is applied only to 1.1 branch.
On the tau 1.0 the problem still exists.

![image](https://user-images.githubusercontent.com/38784474/65870168-daa15700-e37b-11e9-8f7f-673408585036.png)

[2019-10-01 09:25] TomaszLukawskiSam opened #425 "UIComponents: search result not displayed"
[PRECONDITION]
- Install app TAU UI Components

[STEP]
1. Open app > Navigation> Index Scroll Bar with floating button > swipe down > click search icon > enter "b" text > obs

[OBSERVE]
 search result  not displayed

![image](https://user-images.githubusercontent.com/29534410/65951553-8dd38400-e440-11e9-90b8-212aedb136ad.png)

[EXPECTED RESULT]

it shoule word correctly

[2019-10-02 07:43] TomaszLukawskiSam opened #427 "UIComponents: title is cut in graph example"
[PRECONDITION]
- Install App TAU UI Components

[STEP]
1. Open app TAU Components
2.  Select Controls => Static graph/Dynamic graph > Obs

[OBSERVE]
Not have running effect with long title

[EXPECTED RESULT]
Have running effect

[2019-10-02 10:28] pkaczmarczy commented on #413
PR has been already merged.

[2019-10-02 10:28] #413 closed, assigned to pkaczmarczy

[2019-10-02 10:29] pkaczmarczy commented on #411
PR has been already merged.

[2019-10-02 10:29] #411 closed, assigned to pkaczmarczy

[2019-10-02 11:09] pkaczmarczy commented on #424
PR https://github.com/Samsung/TAU/pull/429 has been already merged.

[2019-10-02 11:09] #424 closed, assigned to pkaczmarczy

[2019-10-02 13:14] TomaszLukawskiSam opened #433 "(util) Globalize: loaded data are duplicated in Globalize object"
[PRECONDITION]
- Install App TAU Globalization

[STEP]
1. Open app TAU Globalization
2. Language change
3. Obseve text

[OBSERVE]

More text after each language change

[EXPECTED RESULT]
Text shout display normal

[2019-10-04 07:58] TomaszLukawskiSam commented on #433
The PR has already been merged.

[2019-10-04 07:58] #433 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:29] TomaszLukawskiSam commented on #427
The patch has already been merged.

[2019-10-04 14:29] #427 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:30] TomaszLukawskiSam commented on #425
The patch has already been merged.

[2019-10-04 14:30] #425 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:30] TomaszLukawskiSam commented on #421
The patch has already been merged.

[2019-10-04 14:30] #421 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:30] TomaszLukawskiSam commented on #419
The patch has already been merged.

[2019-10-04 14:30] #419 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:31] TomaszLukawskiSam commented on #417
The patch has already been merged.

[2019-10-04 14:31] #417 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:31] TomaszLukawskiSam commented on #415
The patch has already been merged.

[2019-10-04 14:31] #415 closed, assigned to TomaszLukawskiSam

[2019-10-04 14:32] TomaszLukawskiSam commented on #387
The patch has already been merged.

[2019-10-04 14:32] #387 closed, assigned to TomaszLukawskiSam

[2019-10-07 08:28] pkaczmarczy opened #445 "Timepicker: Bezel changes spinner value even if its inactive"
Right after building time picker nothing is selected and bezel does not affect anything (that's OK).
After selecting one of the spinners bezel can spin each one correctly, but then if no spinner would be selected rotarydetent events are still handled and inactive spinner changes its value.

The same problem may occur with other spinner based widgets.

[2019-10-08 08:02] TomaszLukawskiSam commented on #406
The patch has already been merged.

[2019-10-08 08:04] TomaszLukawskiSam commented on #405
The patch has already been merged.

[2019-10-08 08:19] pkaczmarczy commented on #406
The issue has been fixed.

[2019-10-08 08:19] #406 closed, assigned to pkaczmarczy

[2019-10-08 08:19] pkaczmarczy commented on #405
The issue has been fixed.

[2019-10-08 08:19] #405 closed, assigned to pkaczmarczy

[2019-10-08 08:58] pkaczmarczy commented on #397
@korneliakobiela Could you please check this issue, I think it has been already fixed.

[2019-10-10 09:03] TomaszLukawskiSam opened #450 "UIComponents: Back the top of page when click back"
TAU version 1.1.6

[PRECONDITION]
- Install App TAU UI Components

[STEP]
1. Open app TAU UI Components
2.  Select any option =>> back => Obs

[OBSERVE]

Back the top page when click back

[EXPECTED RESULT]
Should be back to the screen before

[2019-10-10 09:54] TomaszLukawskiSam commented on #450
The patch has already been merged

[2019-10-10 09:54] #450 closed, assigned to TomaszLukawskiSam

[2019-10-11 06:12] grzegorz-czajkowski opened #453 "(Wearable) Add "change" event for Slider"
Only "input" event is triggered for Slider on Wearable whereas Mobile profile triggers both "input" and "change" events.

Differences about "change" and "input" are described at [1].

Related PR https://github.com/Samsung/TAU/pull/448

[1] https://www.impressivewebs.com/onchange-vs-oninput-for-range-sliders/

[2019-10-11 11:42] lmslachciak opened #454 "Prepare Graph documentation for Tizen docs"
Basing on the Coverflow examples
https://docs.stg.tizen.org/staging/848/application/web/api/latest/ui_fw_api/Mobile_UIComponents/mobile_Coverflow.htm
https://docs.stg.tizen.org/staging/848/application/web/api/latest/ui_fw_api/Wearable_UIComponents/wearable_Coverflow.htm
PR: https://github.com/Samsung/tizen-docs/pull/848
prepare mobile and wearable documentation for graph

**Graph** documentation s

[2019-10-11 11:49] lmslachciak opened #455 "Prepare Dimmer documentation for Tizen docs"
Basing on the Coverflow examples
https://docs.stg.tizen.org/staging/848/application/web/api/latest/ui_fw_api/Mobile_UIComponents/mobile_Coverflow.htm
https://docs.stg.tizen.org/staging/848/application/web/api/latest/ui_fw_api/Wearable_UIComponents/wearable_Coverflow.htm
PR: Samsung/tizen-docs#848
prepare mobile and wearable documentation for dimmer

**Dimmer** documentation should be **part of Mob

[2019-10-14 00:45] singa2000 commented on #455
To avoid confusion,
The dimmer widget don't need the extended library. It's basic component.

So  it's  not
https://docs.stg.tizen.org/staging/848/application/web/api/latest/ui_fw_api/Mobile_UIComponents/mobile_extended_component_list.htm

It's correct the
https://docs.stg.tizen.org/staging/848/application/web/api/latest/ui_fw_api/Mobile_UIComponents/mobile_component_list.htm

[2019-10-16 07:53] lmslachciak opened #456 "Single Page - wrong background color"

[2019-10-16 07:53] #456 closed, assigned to nobody

[2019-10-16 16:03] pkaczmarczy commented on #455
I have prepared a commit:
https://github.com/pkaczmarczy/tizen-docs/tree/add-dimmer-documentation

But I cannot see any previous changes (adding images, examples formatting in 5.5 directory, maybe we should update this docs before changing anything else?) @lslachciak what do you think? It looks like changes from 5.0 version (its a different directory are not available in 5.5).

[2019-10-17 05:36] lmslachciak opened #457 "Update Tizen 5.5 documentation with 5.0 changes"

[2019-10-17 05:37] lslachciak commented on #455
@pkaczmarczy I agree. If we are missing any changes form 5.0 documentation we should update it.
I added this task on our todo list
https://github.com/Samsung/TAU/issues/457

[2019-10-18 09:00] pkaczmarczy commented on #455
PR: https://github.com/Samsung/tizen-docs/pull/895

[2019-10-18 09:01] pkaczmarczy commented on #457
PR: https://github.com/Samsung/tizen-docs/pull/894

[2019-10-18 09:42] pkaczmarczy commented on #457
PR has been already merged.

[2019-10-18 09:43] pkaczmarczy commented on #455
PR has been already merged.

[2019-10-18 12:20] jokrzeja opened #458 "Radio list not working (old item remains selected & new item loses selection after scrolling)"
Radio list selection is not deselecting old element if new element is farther than 3rd element on the list (and invisible - you can only see 3 list elements at a time).

How to reproduce:
1. Create new sample project in Tizen Studio: New project > sample > wearable v4.0 > web application > UI >  TAU UI Components (sample version 1.4.55)

2. Run app in emulator and go to: controls > radio.

3. You

[2019-10-29 08:58] orcema opened #463 "install issues on win10"
I followed the install instructions on the readme file but installation fails on my laptop having win10 as OS, node version v8.11.4 and npm 6.12.0.

The 1st issue happens with the instruction  "npm install". I get the error message:

I already once removed the folder "node_modules", removed the file package-lock.json inside the TAU folder and finally did a "npm install npm@latest -g" but i still g

[2019-10-30 05:26] smozhaykin opened #464 "Section changer issue when fillContent: false"
Please, check the following gist: https://gist.run/?id=238a62489fcb56f42aa395bfe401d3a2 (tau version is 1.0.15)

Currently when scrolling with mouse wheel in browser (or using bezel on watch), after item 4  (or before item 5) empty space is displayed. When `fillContent: true` this is not visually observed, because only one item is displayed on the screen.

Another observation: when dragging empty

[2019-11-12 08:33] lmslachciak opened #467 "TAU Footer OK button - font size increased"

[2019-11-12 10:16] pkaczmarczy commented on #467
PR has been merged.

[2019-11-12 11:30] TomaszLukawskiSam opened #469 "TimePicker doesn't return time"
TimePicker should returns Date object with selected time just like to DatePicker do.

The issue was reported on StackOverflow
https://stackoverflow.com/questions/58768395/how-to-retreive-time-from-tizen-timepicker-or-is-there-a-better-way-to-do-it-wi

[2019-11-14 07:34] lmslachciak opened #475 "Marquee widget reset"
ui-marquee widget should
- stop when another widget is selected and reset its state
- when animation stops widget should be reset

[2019-11-14 07:36] lslachciak commented on #469
PR merged

[2019-11-14 07:36] #469 closed, assigned to TomaszLukawskiSam

[2019-11-14 11:01] pkaczmarczy opened #477 "SnapListview: Cannot build widget with one or none items"
Exception is thrown as below:
![Screenshot from 2019-11-14 11-59-07](https://user-images.githubusercontent.com/38784474/68851499-5bbb7000-06d6-11ea-9eb4-c15b4e8e4f55.png)

Issue probably exists on 1.0 too, but I did not checked it.

[2019-11-14 15:26] pkaczmarczy commented on #475
This issue is under investigation. The mechanics responsible for animations is quite complex, it takes time to find the root cause of the problem.

[2019-11-18 08:29] pkaczmarczy opened #480 "Marquee: Missing option in docs"
"endToEnd" style option is not mentioned in Marquee widget documentation

[2019-11-18 08:31] pkaczmarczy commented on #480
PR: https://github.com/Samsung/tizen-docs/pull/943

@lslachciak could you please review this PR? I have no permission to add you as reviewer on tizen-docs repo.

[2019-11-18 09:14] pkaczmarczy commented on #480
PR has been already merged.

[2019-11-18 09:14] #480 closed, assigned to pkaczmarczy

[2019-11-18 09:19] pkaczmarczy commented on #475
PR has been already merged.

[2019-11-19 07:27] lmslachciak opened #484 "Wrong"

[2019-11-19 07:28] #484 closed, assigned to nobody

[2019-11-22 11:55] #475 closed, assigned to lmslachciak

[2019-11-22 12:04] TomaszLukawskiSam opened #489 "Marquee: wrong marquee postion after reset & (re)start widget"
Reproduction steps:
1. start widget `marquee.start()`
2. after several seconds execute `marquee.stop()`
3. reset marquee position by `marquee.reset()`
4. restart marquee widget by `marquee.start()`

Result:
- Marquee widget starts from position in (2) and doesn't take account previous reset (3)

Supposed result:
 - Marquee widget starts from initial position

Example:
UIComponents/contents/list/li

[2019-11-25 11:41] lmslachciak opened #490 "Marquee: EndToEnd animation has blank moment"
In EndToEnd animation there is a blank moment

![image](https://user-images.githubusercontent.com/2246331/69537674-e9257c80-0f80-11ea-8dc9-9845cd15ee98.png)

![image](https://user-images.githubusercontent.com/2246331/69537739-05c1b480-0f81-11ea-9d7f-850d9f8fe635.png)

Beginning of the text should be visible together with the end of text

Reproduction:
1. visit: https://docs.tizen.org/application/w

[2019-11-26 10:47] #467 closed, assigned to lmslachciak

[2019-12-03 09:14] HunseopJeong opened #497 "warning: the following paths have collided"
I got a following warning when cloning the repo on Mac or Windows.

warning: the following paths have collided (e.g. case-sensitive paths
on a case-insensitive filesystem) and only one from the same
colliding group is in the working tree:

  'tests/js/core/widget/core/SectionChanger/SectionChanger.html'
  'tests/js/core/widget/core/SectionChanger/sectionchanger.html'
  'tests/js/core/widget/core/S

[2019-12-03 11:07] hsiwkin opened #498 "Travis CI doesn't show error message in GitHub PR page"
The build didn't pass Travis checks but the message on Github (`Some checks haven’t completed yet`) indicated that the PR is still being tested.

[2019-12-16 17:22] #388 closed, assigned to martijnvankekem

[2019-12-16 17:25] martijnvankekem commented on #477
I can confirm that this bug is also present in TAU 1.0.20.

[2019-12-18 02:26] singa2000 commented on #455
PR was merged and we can close it.

[2019-12-18 02:26] #455 closed, assigned to lmslachciak

[2019-12-18 02:27] singa2000 commented on #457
PR was merged and we can close it

[2019-12-18 02:27] #457 closed, assigned to lmslachciak

[2019-12-19 12:47] TomaszLukawskiSam opened #514 "Set background color for listview with "data-colored-background = 'false' ""
Colored background = false

Current wrong
![image](https://user-images.githubusercontent.com/29534410/71173396-e9085c00-2262-11ea-8ea2-e13c47356c4a.png)

Should be
![image](https://user-images.githubusercontent.com/29534410/71174616-eeb37100-2265-11ea-9d91-4126c16aa9ef.png)

[2019-12-19 13:33] TomaszLukawskiSam opened #515 "Single Page example: Application styles override global styles"
Styles defined for the application override other global TAU styles, eg. text color on listview item.

Selectors for the application styles should be more precise.

![image](https://user-images.githubusercontent.com/29534410/71177532-861bc280-226c-11ea-9164-bcef71e01c84.png)

[2019-12-23 15:19] TomaszLukawskiSam commented on #515
The PR has already been merged.

[2019-12-23 15:19] #515 closed, assigned to TomaszLukawskiSam

[2019-12-23 15:20] TomaszLukawskiSam commented on #514
The PR has already been merged.

[2019-12-23 15:20] #514 closed, assigned to TomaszLukawskiSam

[2019-12-23 15:20] TomaszLukawskiSam commented on #489
The PR has already been merged.

[2019-12-23 15:20] #489 closed, assigned to TomaszLukawskiSam

[2019-12-23 15:22] TomaszLukawskiSam commented on #454
The PR has already been merged.

[2019-12-23 15:22] #454 closed, assigned to TomaszLukawskiSam

[2019-12-24 00:38] singa2000 commented on #335
Thanks . We can close the issue.

[2019-12-24 00:38] #335 closed

[2020-01-13 02:14] singa2000 commented on #490
It fixed by https://github.com/Samsung/TAU/pull/525
@lslachciak
Would you confirm the issue was fixed?

[2020-01-13 02:32] singa2000 commented on #445
@TomaszLukawskiSam ,
Would you confirm the issue was fixed by https://github.com/Samsung/TAU/pull/531?

[2020-01-13 02:40] singa2000 commented on #318
Is the issue  means like followings screenshot?
If so it's normal operation and it's same behavior with tizen native app.
![overwright](https://user-images.githubusercontent.com/31196177/72230529-7b4d1700-35f9-11ea-82e2-6a6dc6836291.png)

[2020-01-13 07:48] lslachciak commented on #318
We think there are two issues:

1.
In Native apps after going to Settings -->apps options list
scrollbar is over highlight. In TAU app case highlight is over scrollbar (**light blue part is covered**)
You can see that light blue part of scrollbar is never covered in native app.

2.
In native app after finishing scrolling list, **scroll bar disappears  before showing highlight.**
In TAU apps **scro

[2020-01-13 09:52] lslachciak commented on #490
yes this issue was fixed in TAU 1.0.22
but samples on the code.tizen.org should be updated

[2020-01-13 09:52] #490 closed, assigned to TomaszLukawskiSam

[2020-01-13 11:10] lslachciak commented on #464
I can't see empty space when fillContent is set to false.
I have question, would it be better for you to use spin widget instead in your case? (e.g. availavble in TAU 1.0.22)
https://github.com/Samsung/TAU/commit/1c5b30348e7f1350cdd42d4255b97069a90e721d

[2020-01-13 11:18] lslachciak commented on #397
@korneliakobiela please reopen issue if problem occurs
Approriate PR was merged

[2020-01-13 11:18] #397 closed, assigned to korneliakobiela

[2020-01-13 11:25] lslachciak commented on #344
Dear @sstimac for TAU 1.0 and 1.1 we don't have such plans
As you noted problem is DOM modification in both frameworks.
This is not easy situation for us when two different frameworks are used.
We are still thinking how we can improve TAU and voices such us this give us some feedback.
What is reason of using React in your case? Missing some features in TAU?

[2020-01-13 11:33] lslachciak commented on #463
@orcema I think your issue on Windows is connected with symbolic links
please note that
mobile/theme/default
and
werable/theme/default
are Linux symbolic links to changeable folder which are not recognisable on Windows
please try to copy appropriate content to it

[2020-01-13 11:40] lslachciak commented on #337
@TomaszLukawskiSam could you precise this issue? I assume it refers 1.0 too?

[2020-01-13 11:44] #206 closed

[2020-01-13 12:08] korneliakobiela commented on #397
It's ok, the problem doesn't exist.

[2020-01-13 14:31] grzegorz-czajkowski commented on #458
Under investigations of building carousel from list items and drawing them. We probably have to resign from current approach of detaching carousel elements from DOM and try to make them invisible so radio buttons will be toggled automatically.
This requires understanding whole arcListView logic including separators (group index and dividers).

[2020-01-14 14:42] grzegorz-czajkowski commented on #458
In UIComponets app, ArcListview has at most three elements in three. Those elements are dynamically added/removed depending on scroll position.
If *selected* element goes out of screen - it's being removed form tree. Let's assume that new element is selected. Then we come back to previous scroll position. A removed element is added to tree again. Since it was in *selected* state, latest selected e

[2020-01-15 08:27] grzegorz-czajkowski commented on #458
We could mark removed element as invalid and while adding it again, we should verify if different radio element from the same group is already selected. If yes, we should de-select element being added to DOM.

[2020-01-15 08:35] lslachciak commented on #458
Ok, for me, but please consider also other possible solution - when selecting element marking other elements in TAU memory unselected, browser is already doing this for elements in DOM, so why TAU shouldn't do this for elements in memory?

[2020-01-15 09:28] lmslachciak opened #546 "[UI Component] Inconsistent behaviour of Time Picker vs. Date Picker"
[ How to reproduce]

UI Component App -> Controls -> Time Picker 24H -> nothing is selected

UI Component App -> Controls -> Date Picker -> month is selected

[ Problem]

Inconsistent behaviour between Time Picker and Date Picker.

Nothing should be selected in Date Picker or "Hrs" should be selected in Time Picker.

[2020-01-15 09:59] korneliakobiela opened #548 "[UIComponent] Header is cut when no much items on list"
Reproduction steps

TAU 1.0.22 + UIComponents

1. Run UIComponents

2. Go to Popup

3. Rotate clockwise

Observe

Expectation:

"Popup" header gets hidden

Observation

"Popup" header stays cut

[2020-01-21 06:57] grzegorz-czajkowski commented on #445
I will confirm if #531 fixes this issue.

[2020-01-21 07:15] grzegorz-czajkowski commented on #445
I was testing this issue in UI Components App (Controls -> Spin -> Group) and I can not reproduce it. Bezel does not affect spinner value if it's not active (clicked).
However, #531 does not fix this. I did revert of this PR and spinner still works fine. This was rather fixed by something else.

@lslachciak and @TomaszLukawskiSam I suggest closing this issue.

[2020-01-21 08:58] grzegorz-czajkowski commented on #458
Patch has been merged.

[2020-01-21 08:58] #458 closed, assigned to lmslachciak, HunseopJeong, grzegorz-czajkowski

[2020-01-21 15:41] #445 closed, assigned to lmslachciak, TomaszLukawskiSam, grzegorz-czajkowski

[2020-01-22 09:14] lslachciak commented on #463
@orcema did you check symbolic links comment?
please reopen issue if more help needed

[2020-01-22 09:14] #463 closed, assigned to nobody

[2020-01-22 09:16] lslachciak commented on #477
@HunseopJeong could you merge PR https://github.com/Samsung/TAU/pull/540 if ready and close the issue?

[2020-01-22 09:21] lslachciak commented on #464
@smozhaykin if spinner widget is not satisfying solution for your case, please reopen this issue

[2020-01-22 09:21] #464 closed, assigned to nobody

[2020-01-22 12:20] HunseopJeong commented on #477
Merged the PR(#540) for this issue.

[2020-01-22 12:20] #477 closed, assigned to HunseopJeong

[2020-01-24 07:21] lmslachciak opened #561 "SnapListView + rotary scrolling - wrong selection position"
Reproduction steps:
1. Latest TAU (not release)
2. Go to UIComponents -->List -->SnapListView
3. Rotary scroll with bezel (not touch)
Observe:
Selection gets higher and higher
Expected: Selection stays in the middle

[2020-01-24 07:23] lslachciak commented on #548
Issue fixed

[2020-01-24 07:23] #548 closed, assigned to korneliakobiela

[2020-01-24 07:24] lslachciak commented on #546
Issue fixed

[2020-01-24 07:24] #546 closed, assigned to nobody

[2020-01-24 08:33] lmslachciak opened #563 "UIComponents App - scroller not disappearing"
In UIComponents app scroller sometimes is not disappearing after entering menu option or going back to the higher level.

![20200129_082207](https://user-images.githubusercontent.com/2246331/73336007-002e6680-4271-11ea-9e02-380ab81372fc.jpg)
See attached video:
[scroller_issue.zip](https://github.com/Samsung/TAU/files/4126719/scroller_issue.zip)

[2020-01-24 09:20] lslachciak commented on #563
Reproduction on device
UIComponents-->List-->Normal List -->back --> Normal List -- scrollbar not disappearing

[2020-01-24 13:56] lslachciak commented on #563
In src/css/profile/wearable/changeable/common/layout.less
.ui-page.ui-scroll-on {
	.ui-scroller {
		overflow-y: auto;
}
this property makes problems
Updated: after futher checks - no control from TAU side possible

[2020-01-27 08:18] lmslachciak opened #566 "ArcListView - wrong selection before entering menu item"
[wrong_selection.zip](https://github.com/Samsung/TAU/files/4116116/wrong_selection.zip)
Reproduction:
UIComponents --> List ->ArcListView -->ArcListView
start scrolling  + Long Tap (don' release finger)
Observe:
Wrong selection visible (see attached video)
Expected:
No selection or correct selection

[2020-01-27 08:27] lslachciak commented on #566
This is reproducible also in other cases, but the long tap has easiest reproduction steps.

[2020-01-27 15:09] grzegorz-czajkowski commented on #566
Selection is shown even if scroll is stopped by touch start. Selection should be shown when:
 * animation finished (not stopped by any touch events) or
 * touch end (if stopped by touch start while scrolling).

[2020-01-27 16:03] lslachciak commented on #563
this issue is strictly connected with build-in feature of web engine scroller.
According to the checks on sample app its behaviour is following - when scroll event occurs scrollbar disappears,
also when content change is done also scrollbar disappears.
In case of UIComponent app scrollbar stays visible so couldn't find proof that this isssue is web engine specific

[2020-01-28 08:02] lmslachciak opened #567 "ArcListView - no marquee animation after second selection"
1. UIComponents -> List -> ArcListView -> ArcListView short
2. Scroll to second item
3. Scrol to first item
4. Scroll to second item
Observe:
No marquee animation. See attached video
[ArcListView - no marquee.zip](https://github.com/Samsung/TAU/files/4121251/ArcListView.-.no.marquee.zip)

Expected:
Marquee animation occurs once

[2020-01-28 08:04] lslachciak commented on #567
[ArcListView - no marquee.zip](https://github.com/Samsung/TAU/files/4121245/ArcListView.-.no.marquee.zip)

[2020-01-28 12:03] grzegorz-czajkowski commented on #566
Patch merged, issue can be closed.

[2020-01-28 12:04] lslachciak commented on #563
According to the further checks, there TAU is not modifying scrollbar visibility.
This is web engine which shows and hides scrollbar. Not hiding scrollbar by web engine may be related to missing some events. At this moment don't see issue on TAU side.

[2020-01-28 12:04] #563 closed, assigned to nobody

[2020-01-28 12:14] #566 closed, assigned to lmslachciak

[2020-01-28 12:22] TomaszLukawskiSam commented on #561
The patch has already been merged. We can close the issue.

[2020-01-28 12:23] TomaszLukawskiSam commented on #318
Patch for the issue has already been merged. The issue can be close.

[2020-01-28 12:56] #561 closed, assigned to lmslachciak

[2020-01-28 12:56] lslachciak commented on #561
works good

[2020-01-28 12:57] lslachciak commented on #318
works good

[2020-01-28 12:57] #318 closed

[2020-01-28 14:20] lmslachciak opened #569 "[UIComponents] Drawer - not usable"
UIComponents --> Navigation --> Drawer
Observe:
List items artifacts, unable to use drawer
Expected:
Drawer usable

[2020-01-28 14:43] grzegorz-czajkowski commented on #567
In Second animation, text width is equal to container width and there is no need to perform animation. Looks like we need to re-recostruct marquee tree after carousel update.

[2020-01-28 14:48] lslachciak commented on #569
This is regression from 9f972cedc218c1847b4705e1f1c57f0a73a05569

[2020-01-29 13:05] lmslachciak opened #572 "[UI components] [Drawer] drawer content not scrollable"
1. UIComponents -> Navigation -> Drawer -> Open
2. Rotate bezel
Observe:
Drawer content not scrollable
Expected
Drawer content scrollable

[2020-01-29 14:31] lslachciak commented on #572
Fixed

[2020-01-29 14:31] #572 closed, assigned to nobody

[2020-01-29 14:31] lslachciak commented on #569
Fixed

[2020-01-29 14:31] #569 closed, assigned to lmslachciak

[2020-01-29 14:38] grzegorz-czajkowski commented on #567
Wrong width is applied at the beginning of *first* animation (there is no need to change item).
Applying ui-marquee directly to element style and reassigning from arc-list-view mechanism of applying marquee (_wrapTextContent) shows no issue suggesting that this is not issue with marguee itself but rather of  arc-list-view.

arc-list-view add "ui-marquee" to wrapped container but it is removed by f

[2020-02-03 14:22] grzegorz-czajkowski commented on #567
ui-marque is being removed since it is not added to stateDom.classList object.
I found that the following line in BaseWidget.js does not copy required classes:

`                        classList.add.apply(classList, slice.call(element.classList));`

Copying them in old js way solves this issue.
Requires more checks and tests.

[2020-02-04 11:18] grzegorz-czajkowski commented on #567
Patches merged. Issue was in BaseWidget implementation. Fix may affects all TAU widgets.

[2020-02-10 15:32] TomaszLukawskiSam opened #619 "(test fail) Page widget"
Testing tests/js/core/widget/core/Page/Page.html ........................F...

Testing tests/js/core/widget/core/Page/mobile/page.html .F

[2020-02-10 15:33] TomaszLukawskiSam opened #620 "(test fail) Scroller"
Testing tests/js/core/widget/core/scroller/Scroller/hscroll.html F..

Testing tests/js/core/widget/core/scroller/Scroller/vscroll-bar.html F..

Testing tests/js/core/widget/core/scroller/Scroller/vscroll-effect.html F..

Testing tests/js/core/widget/core/scroller/Scroller/vscroll.html F..

[2020-02-10 15:34] TomaszLukawskiSam opened #621 "(test fail) Slider"
Testing tests/js/core/widget/core/Slider/Slider.html FFF...

Testing tests/js/core/widget/core/Slider/api/slider.html F

[2020-02-11 13:20] lmslachciak opened #623 "0. Color&Text Style"
Verify Color&Text Style according to the guidelines

[2020-02-11 13:22] lmslachciak opened #624 "1.Navigation Elements - Fast scroll"
Implement
1.Navigation Elements - Fast scroll
according to the guidelines

[2020-02-11 13:28] lmslachciak opened #625 "1. Navigation elements - Go-to-top-button"
Add
1. Navigation elements - Go-to-top-button

[2020-02-11 13:30] lmslachciak opened #627 "1. Navigation elements - Go-to-top-button - list"
1. Navigation elements - Go-to-top-button - list

[2020-02-11 13:31] lmslachciak opened #628 "1. Navigation elements - Go-to-top-button - content"
1. Navigation elements - Go-to-top-button - content

[2020-02-11 13:31] lslachciak commented on #628
depends on https://github.com/Samsung/TAU/issues/625

[2020-02-11 13:31] lslachciak commented on #627
depends on https://github.com/Samsung/TAU/issues/625

[2020-02-11 13:39] lmslachciak opened #629 "5. Etc - End effect"
Implement end effect according to the guidelines

[2020-02-11 14:45] #567 closed, assigned to lmslachciak

[2020-02-12 08:11] TomaszLukawskiSam commented on #619
The PR has already been merged.

[2020-02-12 08:11] #619 closed, assigned to TomaszLukawskiSam

[2020-02-12 08:37] lmslachciak opened #632 "[UIComponents] Too large header title"
1. UIComponents -> Graphs
2. Observe:
![image](https://user-images.githubusercontent.com/2246331/74317188-34c71580-4d7b-11ea-8be3-03dc8fc1f06c.png)
3. Expected:
normal header

[2020-02-12 08:41] lslachciak commented on #632
Issue doesn't exist in TAU 1.1

[2020-02-12 14:17] lmslachciak opened #636 "[UIComponents] Marquee List - artifact"
List-->Marquee List
Observe:
strange artifact:
![image](https://user-images.githubusercontent.com/2246331/74343044-b5e9d100-4daa-11ea-8c3b-1b229e1d3ca8.png)

[2020-02-13 09:11] lmslachciak opened #638 "Navigation Elements -> Title bar / 1 line , 2line , 3line"
Title bar / 1 line , 2line , 3line

[2020-02-13 13:49] grzegorz-czajkowski commented on #629
Added support for using Bouncing widget with both directions Vertical and Horizontal. Exposed additional API to easy show bouncing effect instead of using drag() API.
Used this API in ArcListView - feature works fine.
Need to find a way to use drag() method for both directions or change widgets that are using Bouncing widget (like SectionChanger, Scroller, VirtualList) to use new API.

[2020-02-13 15:32] TomaszLukawskiSam commented on #623
PR has already been merged.

[2020-02-14 07:13] lslachciak commented on #623
done

[2020-02-14 07:13] #623 closed, assigned to lmslachciak

[2020-02-14 08:54] TomaszLukawskiSam commented on #621
Patch with fix has already been merged. The issue can be close.

[2020-02-14 08:54] #621 closed, assigned to TomaszLukawskiSam

[2020-02-14 11:51] TomaszLukawskiSam commented on #624
@lslachciak
We have already implemented ScrollHandler widget in mobile profile. The ScrollHandler has very similar behavior to FastScroll. I'll check possibility to join this widget to wearable profile.

[2020-02-14 12:06] lmslachciak opened #645 "Navigation elements --> Title --> Title bar on list"
Navigation elements --> Title --> Title bar on list

[2020-02-17 10:32] #638 closed, assigned to lmslachciak

[2020-02-17 11:08] lmslachciak opened #648 "Navigation elements - index scroll"

[2020-02-17 11:09] lslachciak commented on #648
Looks like we need to update example.

[2020-02-17 11:10] lmslachciak opened #649 "Navigation elements -> Primary and assist panel"
Navigation elements -> Primary and assist panel

[2020-02-17 11:59] #632 closed, assigned to nobody

[2020-02-18 14:16] lslachciak commented on #636
This is not regression

[2020-02-18 14:20] lslachciak commented on #636
looks like this example was done intentionally

[2020-02-19 02:57] HunseopJeong commented on #497
I got the following warning when cloning the repository on the Mac or Windows.
![image](https://user-images.githubusercontent.com/29908741/74797620-db2c9100-530e-11ea-873f-aef78b0e9996.png)

[2020-02-19 08:31] lslachciak commented on #636
tau v1.0.1 - no issue
tau v1.0.20 - issue

[2020-02-19 08:40] lslachciak commented on #636
tau v1.0.10 - issue

[2020-02-19 08:54] lslachciak commented on #636
tau 1.0.5 - issue
tau 1.0.2 - no issue
tau 1.0.3 - no issue
tau 1.0.4 - no issue

[2020-02-19 08:56] lslachciak commented on #636
This is a regression after a3ca8365200f6c9215712f71f7da50c4c8af3cbb

[2020-02-19 22:06] DevronB opened #659 "Wearable Section Changer - Circular:true issue"
When using the sectionchanger on wearable with the circular:true option there is a scroll/animation issue. The issue seems to occur when scrolling to section one after the start index ('ui-section-active'). When you scroll to the end/start of the sections it correctly scrolls to the start/end in a circular motion. But when you hit the second section after the start (initial 'ui-section-active') it

[2020-02-19 22:34] DevronB commented on #629
In addition to this, the bouncing effects at the end of lists, sections changers etc. when scrolling with drag or rotary bezel on wearable does not have the vibration feedback as it does in native.

[2020-02-20 09:09] lmslachciak opened #661 "Divide list - no divider"

[2020-02-20 09:21] TomaszLukawskiSam commented on #649
To do:
- add new widget AssistPanel if possible reuse current widget Drawer
- add handler (button) for open AssistPanel

[2020-02-20 10:43] DariuszPaziewski opened #663 "[UIComponents] Hardware back button issue"
The application performs two steps back in history when you are deeper than the first level in the navigation tree and the hardware back button is used. It occurs on wearable 5.5 emulator and app with TAU 1.1.15. It does not occur on wearable 5.0.

Emulator version:
Model=Tizen5/Unified;
Build=tizen-unified_20191031.1;
Release=20191031.1;
[Build]
Type=eng;
Date=20191031_052051;
Time=05:20:51;
Vari

[2020-02-20 13:51] lslachciak commented on #663
confirmed, reproducible on 5.5 emulator, not reproducible on 5.0 emulator

[2020-02-20 13:53] #661 closed, assigned to nobody

[2020-02-20 15:04] lslachciak commented on #663
I prepared sample Tizen app with just content and internal links.
[UIComponents.zip](https://github.com/Samsung/TAU/files/4231404/UIComponents.zip)
It occurred that on 5.5 emulator window.history.back is called automatically when HW back key is pressed.
If I run this simple app on 5.0 no navigation back occurs after pressing window.historyback

Our sample UIComponents app for 1.1 has event listene

[2020-02-21 08:33] lslachciak commented on #663
Similar situation is happening with mobile UIComponents app and mobile 5.5 simulator
[Version]
Model=Tizen5/Unified;
Build=tizen-unified_20191031.1;
Release=20191031.1;

I know how to fix this issue -
in UIComponents app , file app.js we shouldnt call window.history.back.
[code]
But before fix is published I need to consider how this influence code.tizen.org

[2020-02-21 09:11] lslachciak commented on #663
The good news is that on code.tizen.org DE adds back-buttonsupport.js file so it is handling back command in its own way.

[2020-02-21 10:32] grzegorz-czajkowski opened #667 "Vibration for End Effect"
Issue for consideration.
Native settings app adds vibrations while showing end effect. However, guide does not specify such behavior.

[2020-02-21 10:33] grzegorz-czajkowski commented on #629
@DevronB
Thanks for your comment. We will consider this as separate issue - https://github.com/Samsung/TAU/issues/667

[2020-02-21 12:05] lslachciak commented on #659
@DevronB does the issue occurs only when rotating with bezel and no issue when swipe with finger?
I can see some strange behaviour on tau_1.0 in UIComponents sample app: Navigation-->Sectionchanger-->Circular + rotate with bezel

[2020-02-21 12:45] lslachciak commented on #659
in problematic case

translate = "translate3d(" + x + "px," + y + "px, 0)";
is always called with x set to 0 in TAU

this is because
calculateCustomLayout returns 360
I think there is something wrong with index calculation in this function

[2020-02-21 19:34] DevronB commented on #659
Correct, I have confirmed in my case also this only occurs when using the bezel, not finger swipe.

[2020-02-24 13:37] lslachciak commented on #659
Thank you @DevronB for confirmation.

After further investigaion I can say that the problem is with
_endScroll: function ()
[code]
In case of swipe this.scrolled is always true so this._repositionSections(); is called
In case of rotarydetend this.scrolled is false so this._repositionSections(); is not called

If I ommit
`					if (!this.enabled || !this.scrolled || this.scrollCanceled) {`
condition

[2020-02-24 23:09] DevronB commented on #659
Great, thank you. So is removing this code the solution, or does this.scrolled need to be set during rotarydetent event chain? Anyway when do you think a commit will be done to fix this issue?

Thank you for the fast diagnosis.

[2020-02-25 14:46] lslachciak commented on #659
@DevronB fix for this issue has just been merged.
We plan to make new TAU release this week.

[2020-02-25 23:59] DevronB commented on #659
Great, thank you. I pulled the commit and it seems to be working fine now.

[2020-02-26 00:05] DevronB opened #673 "Arclistview finger scrolling"
Hi,

I'm using the Arclistview in my project. Generally it works very well when using the bezel but there is a a finger scroll issue that I have found. When the user scrolls up/down in the list with their finger it's sometime difficult to get the list to stay on the required item, after scrolling and the finger is lifted the list will try to centre on the closest item, but it regularly skips an it

[2020-02-26 10:38] lslachciak commented on #659
TAU v1.0.27 released with fix for the issue
https://github.com/Samsung/TAU/releases/tag/v1.0.27

[2020-02-26 10:53] lslachciak commented on #667
@singa2000 I think we need to clarify this with appropriate party.
In https://github.com/Samsung/TAU/issues/629 @DevronB pointed that native apps have vibration effect for bouncing end effect. Should we have it also in TAU?

[2020-02-26 11:01] lslachciak commented on #673
@DevronB we have some inertia implemented for ArcListView, so it will not stop immediatelly after finger up. And as I understand too big inertia on list is your problem.

Could you point out list examples in UIComponent app which has too big inertia in your opinion (or give us your sample) and let us know with which native app we should compare e.g. some Settings menu? Now I'm checking Native app

[2020-02-26 11:05] lslachciak commented on #663
As mentioned in PR https://github.com/Samsung/TAU/pull/665
we need to clarify this issue with WRT

[2020-02-26 13:21] TomaszLukawskiSam commented on #624
Patch has already been merged.

[2020-02-26 13:45] lmslachciak opened #677 "5. Etc - End effect - Show bouncing effect on rotary"
Show bouncing effect on rotary
Improve https://github.com/Samsung/TAU/pull/671

[2020-02-26 13:47] grzegorz-czajkowski commented on #629
Main patches landed.  Follow up: https://github.com/Samsung/TAU/issues/677
Issue can be closed.

[2020-02-26 15:24] lmslachciak opened #678 "Navigation Elements - Title Bar - Focused"
Navigation Elements - Title Bar - Focused

(old Presentation Views)

[2020-02-26 15:38] TomaszLukawskiSam commented on #649
Patch for the issue has already been merged.

[2020-02-26 22:15] DevronB commented on #673
Yes I believe maybe the inertia is too sensitive or something on the Arclistview, it makes it difficult to navigate with the finger. I've made a couple of videos for comparison, I hope you can see?. Also on the Arclistview with lots of scrolling the animations sometimes become clunky and list items get a little skewed. If you use the TAU UIComponents sample with longer list you should see it too.

[2020-02-27 07:21] lslachciak commented on #673
@DevronB you can pack videos to zip and attach them here.

[2020-02-27 09:14] TomaszLukawskiSam commented on #678
There are several task to do:
- adding possibility to overscroll listview to bottom `done`
- scrolling title to the center of screen `done`
- (optional) check older version of listview (snaplistview) as backward compatibility
- adding listview overscroll by bezel `in progress`
- changing size of title at the center position (scale during scroll) `done`
- examples `done`

[2020-02-27 09:53] DevronB commented on #673
I emailed you a one drive share link to download, I didn't see the gz format before but they're too big anyhow...

[2020-02-27 09:56] lslachciak commented on #673
Ok, I saw videos.
I can see some strange lagging and unexpected moves in a very specific situation. Although problem is quite complicated.

[2020-02-27 09:59] DevronB commented on #673
Thanks, I've had several users comment on the difficulty navigating and the fact the there is not scroll end vibration.

[2020-02-27 11:10] TomaszLukawskiSam opened #679 "Long Title in header should be ended with gradient"
Now the long title is ellipsis.
![image](https://user-images.githubusercontent.com/29534410/75439650-7d292a80-595a-11ea-928b-6bd43b567232.png)

[2020-02-27 12:16] #624 closed, assigned to lmslachciak

[2020-03-01 21:20] DevronB commented on #659
I think there is still a small issue with this. When first using a section changer and setting the initial index to not 0, says setting ui-section-active to index 3 of 6. When you scroll via finger to the previous section(2) and back (3) it animates the sections end to end as per the issue. When you navigate via the bezel to the previous section(2) it also has the same behaviour. But scrolled a fe

[2020-03-01 21:38] DevronB commented on #659
FYI, this is possibly only an issue if there is no default 'ui-section-active' class and the active section is set in js via setActiveSection.

[2020-03-02 14:18] lmslachciak opened #683 "[wearable] Presentation Views -> List -> Group Index -> Content Page"
[wearable] Presentation Views -> List -> Group Index -> Content Page

[2020-03-02 14:22] lmslachciak opened #684 "[wearable] Presentation Views -> List -> Group Index -> left align page"

[2020-03-02 14:29] lmslachciak opened #685 "Presentation views - Thumbnails"
Presentation views - Thumbnails

[2020-03-02 14:56] lslachciak commented on #659
Yes, I can observe some unexpected behaviour when ui-section-active is not set.
By default ui-section-active is set to 0 index. When API used some unexpected behaviours may occur.

[2020-03-02 14:58] lslachciak commented on #659
In my tests
calling:

sectionChanger.setActiveSection(2, 0, true);
sectionChanger._repositionSections(true);

eliminated some issues, but this private API, so this is not recommended solution.

[2020-03-02 19:58] DevronB commented on #659
Thanks, For the moment I've set the ui-section-active class but I have some scenarios where the start index is dynamic. I've also found that there is odd animation when fast scrolling with the Bezel. At certain points the animation goes backward (opposite direction). I'm thinking it's also related to the original issue.

[2020-03-03 10:02] grzegorz-czajkowski commented on #628
Two commits merged. Issue can be closed.

[2020-03-03 12:37] lslachciak commented on #659
@DevronB I made PR https://github.com/Samsung/TAU/pull/687 which fixes issue which I was able to reproduce
1. don't set ui-section-active
2. call sectionChanger.setActiveSection(2) in app
3. swipe left
4. observe

[2020-03-03 15:19] #629 closed, assigned to lmslachciak

[2020-03-03 15:21] #645 closed, assigned to lmslachciak

[2020-03-03 15:22] lslachciak commented on #625
I close this issue, let's track progress in subissues

[2020-03-03 15:22] #625 closed, assigned to grzegorz-czajkowski

[2020-03-03 15:22] #628 closed, assigned to lmslachciak

[2020-03-03 15:24] #649 closed, assigned to lmslachciak

[2020-03-03 20:27] DevronB commented on #659
Great. Did you happen to try the fast scrolling with the bezel issue? or could you not reproduce this? Thanks again for all your great work on this library!

[2020-03-04 06:59] lslachciak commented on #659
@DevronB I didn't reproduce issue which you mention.
Could you confirm if PR #687 fixes your issue (at least with swipe)?

[2020-03-04 08:51] TomaszLukawskiSam commented on #648
Patch has already been merged.

[2020-03-04 09:04] lmslachciak opened #688 "Navigation elements - index scroll - update example"
Navigation elements - index scroll - update example

[2020-03-04 09:05] lslachciak commented on #648
Feature works well,
Example should be updated in https://github.com/Samsung/TAU/issues/688

[2020-03-04 09:21] lmslachciak opened #689 "Navigation elements - Go-to-top-button - button not always showing on device"
Navigation elements - Go-to-top-button - button not always showing on device

1. Go to Content
2. Start dragging outside of screen (no drag start)

Observe:
- no gototop button
Expected; gototop button

[2020-03-04 09:24] lmslachciak opened #690 "Navigation elements - Go-to-top-button - contents - example needs update"
Navigation elements - Go-to-top-button - contents - example needs update

[2020-03-04 09:26] #648 closed, assigned to lmslachciak

[2020-03-04 09:42] lmslachciak opened #691 "Navigation elements -> Page Indicator -> Circularly dot"
Navigation elements -> Page Indicator -> Circularly dot
no circular view

[2020-03-04 09:52] lmslachciak opened #692 "Navigation elements -> Page Indicator -> Primary color"
Primary  Color applied only when work with bezel.

[2020-03-04 09:55] lmslachciak opened #693 "Navigation elements -> Page Indicator -> Horizontal dot -> update example"
Navigation elements -> Page Indicator -> Horizontal dot -> update example

[2020-03-04 09:58] lmslachciak opened #694 "Navigation elements -> Circularly vertical bar -> no example"
Navigation elements -> Circularly vertical bar -> no example

[2020-03-04 09:58] lmslachciak opened #695 "Navigation elements -> Circularly horizontal bar -> no example"

[2020-03-04 10:06] lmslachciak opened #696 "Presentation View -> Progrees idnicator(full) dim"
Presentation View -> Progrees idnicator(full) dim

[2020-03-04 10:09] lmslachciak opened #697 "Presentation View -> Activity Indicator (Small)"
Presentation View -> Activity Indicator (Small)

[2020-03-04 10:16] lmslachciak opened #698 "user Input Elements -> Text button with BG"
user Input Elements -> Text button with BG

[2020-03-04 10:18] lmslachciak opened #699 "user Input elements -> Select mode action button"
user Input elements -> Select mode action button

[2020-03-04 10:21] lmslachciak opened #700 "User input elements -> Checkbox"
User input elements -> Checkbox

[2020-03-04 10:23] lmslachciak opened #701 "User input elements -> Two button popup"
User input elements -> Two button popup

wrong button styling

[2020-03-04 10:27] lmslachciak opened #702 "User input elements -> Radio"
wrong stylin
wrong example

[2020-03-04 10:31] lmslachciak opened #703 "User input elements -> Text Input"
User input elements -> Text Input

wrong styling
wrong example

[2020-03-04 10:34] lmslachciak opened #704 "User input elements -> Slider"
wrong styling

[2020-03-04 10:46] lmslachciak opened #705 "User input elements -> Number picker"
example update
stling needs update

[2020-03-04 10:48] lmslachciak opened #706 "User input elements -> Date picker picker"
styling needs update

wrong example

[2020-03-04 12:15] lmslachciak opened #707 "Assist View -> Pop-up(Dialog) General"
Assist View ->  Pop-up(Dialog) General

[2020-03-04 13:00] lmslachciak opened #708 "Assist Views -> More Option"
Assist Views -> More Option

[2020-03-04 13:46] lmslachciak opened #709 "Etc -> More contents"
Etc -> More contents
no such feature

[2020-03-04 14:23] TomaszLukawskiSam opened #710 "Eneble disabled Karma tests"
[code]

Some tests can be deprecated eg. `profile/wearable/widget/wearable/CircleIndicator`

[2020-03-04 16:26] sstimac commented on #344
@lslachciak Thanks for the reply !

The answer to your question is rather simple :D. I didn't want to go back to writing web apps as we did in the past. Frameworks nowadays just offer so much more in terms of simplicity / development speed...

To be more specific, i was hoping to write more efficient code with the React framework, considering it's lifecycle / rerender strategies and conventions. A

[2020-03-05 08:50] TomaszLukawskiSam commented on #678
Patch has already been merged.

[2020-03-05 09:01] lmslachciak opened #713 "Appbar --> Title --> Actions button"
Examples with action support not working

[2020-03-05 09:06] lmslachciak opened #714 "Appbar --> Navigate up buttom"
Navigate up button not visible in example
header and Footer --> Simple title with back

[2020-03-05 09:09] lmslachciak opened #715 "Appbar --> More options -> List"
- no such example
- eture not ready?

[2020-03-05 09:11] lmslachciak opened #716 "Appbar --> More Option list --> Extender app bar"
No example
no support?

[2020-03-05 09:19] lmslachciak opened #717 "Appbar -> Title"
1. Update examples (place in correct path: Appbar -> Title)
2. Verify font sizes and styles

[2020-03-05 09:46] TomaszLukawskiSam opened #718 "Listview: disabled test "scroll""
One Listview test has been disabled. Needs to be fix.

![image](https://user-images.githubusercontent.com/29534410/75968870-604aa500-5ece-11ea-97b0-40e801f9bef8.png)

[2020-03-05 09:53] lmslachciak opened #719 "Buttons -> Flat button"
1. Verify styles
2. Update examples

[2020-03-05 09:58] lmslachciak opened #720 "Controllers --> Checkbox (List)"
implement fetaure
verify styles
update examples

[2020-03-05 10:00] lmslachciak opened #721 "Controllers --> Checkbox (Image thumbnail)"
verify styles, update examples

[2020-03-05 10:01] lmslachciak opened #722 "Cotrollers --> Checkbox (List selected)"
Controllers --> Checkbox (List selected)
verify styles, list selected

[2020-03-05 10:21] TomaszLukawskiSam opened #723 "AssistPanel: Increasing tests coverage"
Add karma tests.

[2020-03-05 11:33] grzegorz-czajkowski opened #724 "GoToTopButton does not appear on rotary for Content"
Steeps to reproduce:
1. Open UIComponents app for wearable.
2. Go to Content example.
3. Do bezel rotation.
Observe that go to top button is not shown once end of content is reached.

[2020-03-05 11:44] grzegorz-czajkowski opened #725 "GoToTopButton does not dissapper sometimes after back"
Steeps to reproduce:
1. Open UIComponents app for wearable.
2. Scroll to the end of lists.
3. GoToTopButton should appear.
4. Click "Graphs"
5. Click Back.

Observe that go to top button appears although graphs is not last list element.

[2020-03-05 12:07] lmslachciak opened #726 "Font > Font table"
Font > Font table

[2020-03-05 12:09] lslachciak commented on #726
As it is:
font-family: Roboto-Medium;
As it should be
font-family: Roboto-Medium;
font-weight: bold;
also font-famil name seems to be wrong

[2020-03-05 12:13] grzegorz-czajkowski commented on #627
Patch merged. Notice bug https://github.com/Samsung/TAU/issues/725 which will be handled separately.

[2020-03-05 12:17] lmslachciak opened #727 "Color -> Dark/Light Theme"
Color -> Dark/Light Theme

[2020-03-05 12:18] lslachciak commented on #727
background color for whitetheme ok?

[2020-03-05 14:41] lmslachciak opened #729 "Presentation View -> List"
header color needs update
    check proportions
    example

[2020-03-05 14:44] lmslachciak opened #730 "Presentation View -> List -> main text only"
Presentation View -> List ->  main text only

[2020-03-05 14:47] lslachciak commented on #729
basic list only

[2020-03-05 14:47] lslachciak commented on #729
header color needs update
check proportions
example

[2020-03-05 14:47] lslachciak commented on #730
5 list item example
items in guideline are bigger

[2020-03-09 07:46] lmslachciak opened #731 "Font size, Line thickness sample"
Preprae sample which will be able to show
- Font size (sp unit)
- thickness (px unit)
with different sizes for fonts
on different devices

[2020-03-10 07:39] grzegorz-czajkowski commented on #717
Patch merged. Issue can be closed.

[2020-03-10 07:53] lslachciak commented on #717
works fine

[2020-03-10 07:53] #717 closed, assigned to lmslachciak

[2020-03-10 08:42] TomaszLukawskiSam commented on #726
Patch has already been merged.

[2020-03-10 08:42] lslachciak commented on #726
works well, verified

[2020-03-10 08:42] #726 closed, assigned to lmslachciak

[2020-03-10 08:42] TomaszLukawskiSam commented on #731
Patch has already been merged.

[2020-03-10 09:04] lmslachciak opened #735 "Controllers -> Radio button"
Controllers -> Radio button

- verify styles
- update example

[2020-03-10 09:14] lmslachciak opened #736 "Controllers -> Master on/off switch"
Controllers -> Master on/off switch

@to do:
- integration on/off switch with listview
- ripple effect

[2020-03-10 09:18] lmslachciak opened #737 "Controllers -> On/Off switch"

[2020-03-10 09:18] lslachciak commented on #737
Controllers -> On/Off switch

[2020-03-10 09:37] lslachciak commented on #731
works well

[2020-03-10 09:37] #731 closed, assigned to lmslachciak

[2020-03-10 10:50] TomaszLukawskiSam commented on #727
I verified colors with guideline. The background color looks good for both themes dark and light.

[2020-03-10 11:06] lmslachciak opened #738 "Buttons --> Contained Button -> Emphasis"

[2020-03-10 11:07] lmslachciak opened #739 "Buttons -> Contained Button -> List Area"
Buttons -> Contained Button -> List Area

[2020-03-10 11:08] lmslachciak opened #740 "Buttons -> Contained Button -> Body Area"
Buttons -> Contained Button -> Body Area

[2020-03-10 11:10] lmslachciak opened #741 "Controllers -> Slider --> Continuous Slider"

[2020-03-11 07:31] lslachciak commented on #735
some styling needed to be done
example app in preparation

[2020-03-11 07:43] lmslachciak opened #745 "CSS px base change for tablet"
Set
1dp:1.125 css pixel
for
Tablet 2560 * 1600 and 287 ppi

[2020-03-11 07:50] lslachciak commented on #704
@korneliakobiela please share status

[2020-03-11 08:02] TomaszLukawskiSam commented on #745
To solve this issue I want to do:
1. Change `@px_base` to `rem` units
2. Add `@media` query for tablet with `font-size` = 1.125 of default `font-size`

After this change all values in mobile TAU must are in `@px_base` - `px` unit will not allowed

[2020-03-11 08:05] singa2000 commented on #745
We don't need the change.
In the mobile, tablet are also 1sp=1dp=1px (css).
Sorry for confusion

[2020-03-11 08:06] #745 closed, assigned to TomaszLukawskiSam

[2020-03-11 08:32] #627 closed, assigned to lmslachciak

[2020-03-11 08:32] #678 closed, assigned to lmslachciak

[2020-03-11 08:43] lslachciak commented on #727
works fine

[2020-03-11 08:43] #727 closed, assigned to TomaszLukawskiSam

[2020-03-11 12:00] lmslachciak opened #751 "Controllers -> Radio button --> radio animation"
Controllers -> Radio button --> radio animation

[2020-03-11 12:04] #735 closed, assigned to lmslachciak

[2020-03-11 12:47] grzegorz-czajkowski commented on #713
Patch merged. Issue can be closed.

[2020-03-11 12:52] grzegorz-czajkowski opened #753 "Appbar --> Navigate up buttom -> no action"
User is not navigated backwards after click on back button in appbar examples.

Observations:
 * data-rel="back" is set
 * the proper behavior can be seen after replacing button element to link, for example <a href="" ...></a>
 * changes on router side are probably needed

[2020-03-11 12:55] grzegorz-czajkowski commented on #714
Button is implemented according to guide and it's resotred to examples.
However, after click on it nothing happens. I created separate issue for this since this requires changes on router side - https://github.com/Samsung/TAU/issues/753.

[2020-03-11 13:03] #720 closed, assigned to lmslachciak

[2020-03-11 14:44] lslachciak commented on #714
ok, works fine

[2020-03-11 14:44] #714 closed, assigned to lmslachciak

[2020-03-11 14:48] #636 closed, assigned to lmslachciak

[2020-03-11 17:08] korneliakobiela commented on #704
I made a slider thinner according to documentation. I can't find where is the code for active dot (the one on the end of the slider with transparency). I can see that element bigger in docs.

[2020-03-12 11:27] TomaszLukawskiSam commented on #737
I verified colors and sizes. In my opinion all is correct. I made little fix for example in UIComponents.

[2020-03-12 14:02] korneliakobiela commented on #704
PR is merged, please review changes

[2020-03-12 15:21] korneliakobiela commented on #702
New radio button styling is similar to the old one but differs in a few aspects:
1. Remove inner dots from inactive elements. (DONE)
2. Make lines thinner
3. Change colours.
4. Make dots bigger
5. Change the size of all elements.

[2020-03-16 12:02] lslachciak commented on #713
works fine

[2020-03-16 12:02] #713 closed, assigned to lmslachciak

[2020-03-16 13:15] lmslachciak opened #762 "List -> Subheader"
![subb](https://user-images.githubusercontent.com/2246331/76765801-47c46f80-6797-11ea-835d-7ed69f460af1.png)
First Subheader in list example is cut

[2020-03-16 14:01] lslachciak commented on #762
To discuss: should we have first subheader on list?
@HunseopJeong how do you think?

[2020-03-16 16:36] TomaszLukawskiSam commented on #737
Patch has already been merged.

[2020-03-17 06:17] grzegorz-czajkowski opened #764 "Appbar --> Navigate up button -> wrong width of ui-appbar-left-icons-container"
After https://github.com/Samsung/TAU/pull/763, there is wrong width (8px) of ui-appbar-left-icons-container but it should have 32px. Only right margin (8px) of link element is taken into account.
It looks like icon size (24x24) is not properly added.

[2020-03-17 06:40] lslachciak commented on #762
Also first subheader on list seems to be cut

[2020-03-17 07:06] lmslachciak opened #765 "View controls -> Dropdown list (Align_Top and Align_Bottom)"
View controls ->  Dropdown list

[2020-03-17 07:54] HunseopJeong commented on #762
@lslachciak
Is it top position of the page?
I will check it.

[2020-03-17 08:01] grzegorz-czajkowski commented on #753
Patch merged. Back button works. This change caused wrong width of ui-appbar-left-icons-container. Reported here https://github.com/Samsung/TAU/issues/764

[2020-03-17 08:04] lslachciak commented on #762
Yes, exactly. You can see this issue in UIComponents app
But guide didn't say anything about header for first list on page

[2020-03-17 08:09] HunseopJeong commented on #762
In my screen, it seems to be no problems.
![image](https://user-images.githubusercontent.com/29908741/76835221-f6d57980-6871-11ea-8794-047928b66744.png)
Do you test the example in the emulator?

[2020-03-17 08:10] HunseopJeong commented on #762
And you are right there is no guide about header for first list.

[2020-03-17 08:53] lslachciak commented on #762
yes, the screen is from emulator,
[Version]
Model=Tizen5/Unified;
Build=tizen-unified_20191031.1;
Release=20191031.1;
[Build]
Type=eng;
Date=20191031_052150;
Time=05:21:50;
Variant=NONE;
ID=tizen-unified;

[2020-03-17 13:03] lslachciak commented on #753
thank you
 works well

[2020-03-17 13:04] #753 closed, assigned to lmslachciak

[2020-03-17 13:06] lslachciak commented on #737
example should be updated when master switch on/off is done
(example in guideline contains master switch too)

[2020-03-17 13:07] lslachciak commented on #737
works well, thank you

[2020-03-17 13:07] #737 closed, assigned to lmslachciak

[2020-03-17 13:09] lslachciak commented on #704
@korneliakobiela I see one more PR for this issue. I'll review/close after merging it

[2020-03-17 14:49] lslachciak commented on #741
Looks like after 849eefb542a0b8fe7ab2e25f8323886a58fa2624 Slider was broken

[2020-03-18 06:31] lslachciak commented on #719
@TomaszLukawskiSam is this issue complete, if not what we need to do here?

[2020-03-18 06:33] lslachciak commented on #738
@TomaszLukawskiSam could you sum up what we need to do to complete this issue?

[2020-03-18 06:49] lslachciak commented on #765
I afraid that we depend here on the AppBar -> "More option list" (or vice versa) https://github.com/Samsung/TAU/issues/715
@grzegorz-czajkowski how do you think?

[2020-03-18 06:52] grzegorz-czajkowski commented on #765
Yes, Appbar needs dropdown list to implement "More options" menu.

[2020-03-18 06:53] lslachciak commented on #715
Depends on https://github.com/Samsung/TAU/issues/765

[2020-03-18 07:04] lmslachciak opened #768 "Radio Button --> Ripple Effect"

[2020-03-18 08:06] TomaszLukawskiSam commented on #740
Patch is already merged. The issue can be close.

[2020-03-18 08:06] TomaszLukawskiSam commented on #739
Patch is already merged. The issue can be close.

[2020-03-18 08:08] TomaszLukawskiSam commented on #738
Patch is already merged. The issue can be close.

[2020-03-18 08:09] TomaszLukawskiSam commented on #723
Patch has been already merged. The issue can be close.

[2020-03-18 08:10] TomaszLukawskiSam commented on #719
Patch has been already merged. The issue can be close.

[2020-03-18 08:11] TomaszLukawskiSam commented on #710
Patch has been already merged. The issue can be close.

[2020-03-18 08:25] lmslachciak opened #769 "App Bar -> Bottom bar (Text only)"

[2020-03-18 08:26] lmslachciak opened #770 "App Bar -> Bottom bar (Icon+text)"

[2020-03-18 09:15] lslachciak commented on #719
Some remarks:
1. Button example should be in Buttons -> Flat Button section of UI Component app
not Controllers
2. Examples text doesn't correspond to the text in Guideline exampple
3. In the Guideline there is 8px Left Margin between list entry and button I can't see this in debugger. Only see 16px padding
4. Right Margin for list entry seems to be 20px guide says about 24

@TomaszLukawskiSam cou

[2020-03-18 09:23] lslachciak commented on #740
Some remarks
1. Button example should be in Buttons section of UIComponents app not Controllers
2. Can we call example similar to guide i.e. Contained Button - Body Area
I mean
section Buttons -> Contained Button --> Body area
We try to keep structure similar to guide
3. Example texts doesn't correspond to guidelines texts
4. Do we cover here 2 buttons case? Should we create separate issue for thi

[2020-03-18 09:24] lslachciak commented on #740
@TomaszLukawskiSam coul you check my remarks?

[2020-03-18 09:51] TomaszLukawskiSam commented on #740
Ok. I'll do changes.

[2020-03-18 10:20] grzegorz-czajkowski opened #771 "View controls -> Dropdown list (Min width)"
Need to create a separate example and fix code/styles if needed.

[2020-03-18 10:22] TomaszLukawskiSam commented on #736
Patch has already been merged. I think that the issue can be close.

[2020-03-18 10:22] grzegorz-czajkowski opened #773 "View controls -> Dropdown list (Max width & height)"
Need to create a separate example and fix code/styles if needed.
Make sure that correct offset is applied after text: 16 px + 20 px + 24 px.

[2020-03-18 10:23] TomaszLukawskiSam commented on #736
@lslachciak
I forget about ripple effect :(

[2020-03-18 10:41] korneliakobiela commented on #704
@lslachciak I referenced this PR by mistake. Sorry for the confusion :open_hands:
I corrected it in PR description but it didn't disappear here as a mention.

[2020-03-18 12:05] lmslachciak opened #776 "Update set of resources img, svg v 1.6"

[2020-03-18 12:31] lmslachciak opened #778 "Update .ui-content-area area with correct svg"
Update .ui-content-area area
Curently .ui-content-area is using
 src/css/profile/mobile/theme-changeable/images/0_Round_corner/round.svg
it should use
bottom_left.svg
bottom_right.svg
top_left.svg
top_right.svg

[2020-03-18 12:31] lslachciak commented on #778
file  src/css/profile/mobile/theme-changeable/images/0_Round_corner/round.svg shoul be deleted

[2020-03-18 12:38] #710 closed, assigned to lmslachciak

[2020-03-18 12:39] lslachciak commented on #710
coverage ratio has been improved

[2020-03-18 12:45] TomaszLukawskiSam commented on #778
This is problem with use mask-border-image with four images as sources.

[2020-03-18 12:48] lslachciak commented on #778
yes, I see now, looks like it should be combined during build process..

[2020-03-18 12:54] lmslachciak opened #779 "Listview - dont'use tw_dropdown_ic_check.svg"
src/css/profile/mobile/common/dropdownmenu.less:				mask-image: url('images/13_View_Controls/tw_dropdown_ic_check.svg');

This file is not in current set of resources

[2020-03-18 12:55] lmslachciak opened #780 "Dropdown - dont use tw_dropdown_ic_check.svg"
src/css/profile/mobile/common/dropdownmenu.less:				mask-image: url('images/13_View_Controls/tw_dropdown_ic_check.svg');

This file is not in current resources set

[2020-03-18 12:55] lslachciak commented on #776
Because I'm deleting some files I created issues
https://github.com/Samsung/TAU/issues/780
https://github.com/Samsung/TAU/issues/779

[2020-03-18 12:56] lslachciak commented on #765
@grzegorz-czajkowski when working on dropdown please note that resources are being updated.
Due to this there is an issue https://github.com/Samsung/TAU/issues/780

[2020-03-18 13:08] lslachciak commented on #780
@grzegorz-czajkowski please be aware about this issue

[2020-03-18 13:08] grzegorz-czajkowski commented on #780
Ok, I will fix this,

[2020-03-18 13:09] lslachciak commented on #780
thx

[2020-03-18 13:10] lslachciak commented on #779
@HunseopJeong please be aware about this issue

[2020-03-18 14:01] grzegorz-czajkowski commented on #780
It looks like this file is missing from latest assets.
Latest guide still refers to tw_dropdown_ic_check.svg file but latest assets do not have this file.
W can neither temporarily restore this file from tree or wait for next guide/assets update.

[2020-03-18 14:14] lslachciak commented on #780
@singa2000 could you check this with UX team?
@grzegorz-czajkowski I think that until further information is provided you can restore file

[2020-03-18 14:20] HunseopJeong commented on #779
I got it.

[2020-03-18 14:35] lslachciak commented on #704
@korneliakobiela slider looks and works great :grin:
but together with styling change we also update examples so in order to close completely
User input elements -> Slider item
please place Slider example under User Input Elements --> Slider menu

[2020-03-19 06:32] lslachciak commented on #776
Resources were updated

[2020-03-19 06:32] #776 closed, assigned to lmslachciak

[2020-03-19 07:22] TomaszLukawskiSam commented on #740
I think that I did all required changes.

[2020-03-19 07:32] HunseopJeong opened #782 "Listview - Examples are need to be rearranged"
There are many examples for the list, but there are many duplicates, so it seems necessary to organize them.

Current Index for the list
**Stacked List**
- Basic List
- List Styles
- Reorder List
- Normal List
- Selectable List
- Expandable
- Expandable from JS
- List with On-Off elements
- Virtual List

**Grid View**
- Grid View
- Grid View with Label (outside)
- Grid View with Label (inside)
- G

[2020-03-19 10:00] HunseopJeong commented on #782
I think we can remove the List Styles, and Normal List or combine two into own.
@lslachciak, @TomaszLukawskiSam,
How about your opinion?
If there's more to be removed, you can tell me.

[2020-03-19 12:37] TomaszLukawskiSam opened #785 "Controllers -> Checkbox (animation)"
Checkbox should change state with animation.
- 26 keyframes
- images for animation are stored: images/3_Controllers/Checkbox/sem_checkedtextview_check_to_on_mtrl_026.svg
- lack of animation parameters like duration

[2020-03-19 13:13] grzegorz-czajkowski commented on #765
Align_Top and Align_Bottom guide pages were implemented by https://github.com/Samsung/TAU/pull/774.

[2020-03-19 13:32] TomaszLukawskiSam commented on #721
Patch has already been merged.

[2020-03-19 15:21] korneliakobiela commented on #704
Ok, I made PR with changes in examples

[2020-03-19 15:32] korneliakobiela commented on #702
Done things in the past two days:
1. Thinner lines in Radio Buttons
2. Bigger dots inside the active one (edit graphic file)
3. Changing colours according to documentation.

Todo:
Change Example location

@lslachciak, should I prepare the new example as it looks in docs?

[2020-03-20 05:56] grzegorz-czajkowski commented on #780
Patch merged.

[2020-03-20 08:58] lslachciak commented on #782
Personally I would prefer to follow guideline and have just submenus like:
- List Width
- List contents area
- End of list
- Basic list
- Icon + text
- Subheader
- Expandalble list
- multiple selection

So according to your list I would leave only
- Basic List
- Selection List
- Expandable List
And move rest somewhere to backup
The other list examples according to GUI will need to be provided in f

[2020-03-20 09:03] TomaszLukawskiSam commented on #782
I think we don't need backup. We have repository and complete version of UIComponents on branch 1.1

[2020-03-20 09:07] TomaszLukawskiSam commented on #722
@lslachciak
After analyzing this issue, I came to the conclusion that it is rather a task to create a mutliple selection list.

[2020-03-20 09:10] lslachciak commented on #780
@singa2000 we have implemented temporary solution (restored file) but please check with UX team why we are missing tw_dropdown_ic_check.svg

[2020-03-20 11:10] TomaszLukawskiSam commented on #719
Done

Examples in guideline has mixed buttons with style flat and contained on one screen. This may make confusion when user want to check example only flat button.

I think this margin has apply only for buttons on list.

[2020-03-20 11:35] lslachciak commented on #719
We need to update margins in this issue, we did similar margin adjustment for list in
https://github.com/Samsung/TAU/pull/747/commits/1d1fcad18e2f384b0b05e4e07223afcc8c717896

[2020-03-20 11:36] lslachciak commented on #722
Yes this is blocked by multiple selection for list

[2020-03-20 12:27] lslachciak commented on #765
works fine

[2020-03-20 12:27] #765 closed, assigned to lmslachciak

[2020-03-20 12:30] lslachciak commented on #740
seems fine

[2020-03-20 12:30] #740 closed, assigned to lmslachciak

[2020-03-20 12:32] lmslachciak opened #795 "Controllers -> Master on/off switch --> Ripple effect"
Controllers -> Master on/off switch --> Ripple effect

[2020-03-20 12:33] lslachciak commented on #736
i created new issue for ripple https://github.com/Samsung/TAU/issues/795

[2020-03-20 12:33] lslachciak commented on #736
works fine

[2020-03-20 12:33] #736 closed, assigned to lmslachciak

[2020-03-20 12:37] lslachciak commented on #721
works great

[2020-03-20 12:37] #721 closed, assigned to lmslachciak

[2020-03-20 12:40] lslachciak commented on #739
@TomaszLukawskiSam
I think we are too deep in example
See
Contained Button->List Area -->Contained Button-->example
shouldn't it be
Contained Button->List Area -->example?

[2020-03-20 12:43] lslachciak commented on #738
Medium emphasis on list seems to be broken, but this is list issue

[2020-03-20 12:43] #738 closed, assigned to lmslachciak

[2020-03-20 13:17] korneliakobiela commented on #704
PR merged

[2020-03-20 14:35] TomaszLukawskiSam commented on #741
border-image: url(images/3_Controllers/tw_progress_bar_n.9.png) 5 fill;
    border-image-width: 3px;
    border-image-repeat: round;

[2020-03-23 06:37] HunseopJeong commented on #782
I reogranize the list example following structrue.
- List Width
- List Content Area
- End of list
-- Bottom spacing
-- Bottom spacing with FAB
- Basic List
- Icon + Text List
- Subheader
-- Subheader (Text)
-- Subheader (No text)
-- Subheader (Without chunking)
- Expandable List
- Multiple Selection List

[2020-03-23 07:15] lslachciak commented on #782
Good idea

[2020-03-23 07:43] lslachciak commented on #741
Thank you @TomaszLukawskiSam I was trying this on Friday but without
border-image-repeat: round;
option. I'll check.

[2020-03-23 07:50] lslachciak commented on #704
Thank you @korneliakobiela
works fine

[2020-03-23 07:50] #704 closed, assigned to lmslachciak

[2020-03-23 08:26] HunseopJeong opened #802 "File naming rules in UI Components app"
In UI components app, various naming rules are applied.
Ex) In appbar, used the camel case "actionButton"
      In controlls, used the kebab case "checkbox-image-thumbnail.html"
      In graphs, used the snake case "bar_graph.html"
I think we need to unify in one way.
How about your opinions?
Which is best?

[2020-03-23 08:30] TomaszLukawskiSam commented on #802
In my opinion, most are in format "kebab". I prefer this rule.
`checkbox-image-thumbnail.html`

[2020-03-23 08:35] HunseopJeong commented on #802
Any other opinions? If not, I will create the PR to unify it with kebab case?
After that PR, please follow the rule.

[2020-03-23 08:38] HunseopJeong commented on #802
@lslachciak, @singa2000, @DohyungLim
Any other opinions?

[2020-03-23 08:55] singa2000 commented on #802
I also prefer to kebab.
It seems that Vue and Angular follows kebab like  https://angular.io/guide/styleguide.
It looks in general HTML use the kebab.

[2020-03-23 08:59] HunseopJeong commented on #802
Okay. I will prepare the PR to apply kebab case.
I hope you will check this rule as you review.

[2020-03-23 09:19] lslachciak commented on #741
Currently facing issue with setting opacity not for whole element but only border-image
CSS doesnt allow this directly
https://stackoverflow.com/questions/45085415/border-image-with-opacity
If I set opactiy for .ui-slider-bar it will also reflect .ui-slider-value

[2020-03-23 11:00] TomaszLukawskiSam commented on #719
Patches have been merged. Can we close the issue?

[2020-03-23 11:09] TomaszLukawskiSam commented on #739
Patches have already been merged. Can we close the issue?

[2020-03-23 11:58] HunseopJeong opened #805 "Divider"
Divider

[2020-03-23 12:58] grzegorz-czajkowski opened #808 "View controls -> Dropdown list -> wrong position if opened from scrolled element"
If list is scrolled, click on item which is still visible cause wrong dropdown list position.
![top_align](https://user-images.githubusercontent.com/46523330/77318745-dc861a80-6d0d-11ea-89ae-2261873122b4.png)

Similar issue
![bottom](https://user-images.githubusercontent.com/46523330/77318755-e0b23800-6d0d-11ea-9812-0e150fb240b5.png)

[2020-03-24 07:20] HunseopJeong opened #809 "Margin in list element"
Currently, li element has the default left and right margin with 20px.
But many components have their own magin values such as the checkbox (18px), radio (18px), and icon (12px).
So I think it would be good to remove the default margin of the li elmeent.
It can help to apply margins of components.

[2020-03-24 07:37] lslachciak commented on #739
@TomaszLukawskiSam I have one doubt here.
Font weight on buttons is bold. When looking on GUI Guide screenshots it seems more like normal not bold.
Is this because of global Roboto Medium definition Font Style as Bold (as in GUI font table)?

[2020-03-24 07:46] lslachciak commented on #719
ok, seems fine

[2020-03-24 07:46] #719 closed, assigned to lmslachciak

[2020-03-24 08:26] TomaszLukawskiSam commented on #739
:( yes.
![image](https://user-images.githubusercontent.com/29534410/77403975-528f8d80-6db1-11ea-9fec-a737311afdcb.png)

This is problem with alternative font-style.

[2020-03-24 11:32] HunseopJeong opened #814 "The branch seems to be growing ..."
![image](https://user-images.githubusercontent.com/29908741/77421014-6e754c80-6e0e-11ea-8161-c0cee454c1da.png)
This is current branch state in TAU main repository.
I think it is not good to create the new branch for the PR.
Use the own repository after folking the main repository.

[2020-03-24 11:39] lslachciak commented on #679
@TomaszLukawskiSam is this issue complete?

[2020-03-24 11:57] lslachciak commented on #764
@TomaszLukawskiSam @grzegorz-czajkowski can we close this issue?

[2020-03-24 12:00] lmslachciak opened #815 "Controllers -> Slider --> Continuous Slider --> Ripple effect"
Controllers -> Slider --> Continuous Slider --> Ripple effect

[2020-03-24 12:12] grzegorz-czajkowski commented on #764
I will verify this.

[2020-03-24 12:15] grzegorz-czajkowski commented on #764
Works fine. Thank you.

[2020-03-24 12:15] #764 closed, assigned to grzegorz-czajkowski

[2020-03-24 13:22] TomaszLukawskiSam commented on #679
The issue has not been solved yet.

[2020-03-24 13:40] TomaszLukawskiSam commented on #679
Fix for this issue is applied only for sub page:
 `UIComponents/contents/navigationelements/titlebar/title-focused-2lines.html`

but the issue has to solved more complexity.

[2020-03-25 03:05] HunseopJeong opened #819 "Pickers -> Spin"
Pickers -> Spin

[2020-03-25 03:06] HunseopJeong commented on #819
Spin component is base component for the time and number pickers.
I think it would be good to move the wearable spin component to the core component.

[2020-03-25 06:38] lslachciak commented on #814
I have a rule that when I push patch to TAU I always start with my id. This allows to identif owner of temporary branch.
But if this is a problem it is ok for me to use own fork. This should also allow to test patch on Androi device using gh_pages mechanism

[2020-03-25 06:53] HunseopJeong commented on #814
As I know as, you can make the gh_pages in your forked repository.
I think we would be good to leave meaningful branches.

[2020-03-25 07:53] lslachciak commented on #815
PR merged

[2020-03-25 07:53] #815 closed, assigned to lmslachciak

[2020-03-25 08:34] lmslachciak opened #821 "Controllers --> Checkbox on list --> Ripple effec"

[2020-03-25 09:10] grzegorz-czajkowski commented on #771
Example + code fixes were merged. Issue can be closed.

[2020-03-25 10:13] HunseopJeong opened #823 "Controllers -> Checkbox (List)"
Controllers -> Checkbox (List)

[2020-03-25 11:18] lslachciak commented on #821
Reassigning PR to @TomaszLukawskiSam he wants to finish this item

[2020-03-25 11:36] HunseopJeong opened #825 "ui-content-area border width"
'ui-content-area' has the border width with 1px.
In this case, it may affect other components and may not be placed in a desired location.

[2020-03-25 11:49] #780 closed, assigned to singa2000

[2020-03-25 11:52] lslachciak commented on #779
this file was restored in d64ab2d7bff91f14c329f53c45c8499a32d40c90

[2020-03-25 11:52] #779 closed, assigned to nobody

[2020-03-25 11:52] lslachciak commented on #739
now font style was fixed. Closing

[2020-03-25 11:52] #739 closed, assigned to TomaszLukawskiSam

[2020-03-25 14:43] TomaszLukawskiSam commented on #769
Patch has already been merged.

[2020-03-25 14:47] TomaszLukawskiSam commented on #802
@HunseopJeong
Can we close the issue?

[2020-03-26 06:11] lslachciak commented on #795
work in progress

[2020-03-26 06:32] lmslachciak opened #832 "View controls -> Dropdown list -> Ripple effect"

[2020-03-26 06:33] lslachciak commented on #771
As per other guide screens from AppBar examples menu should not be called Open but "Menu"
Please remember about this when working on other items.
Also Dropown list should have ripple effect (not high priority now)
https://github.com/Samsung/TAU/issues/832

[2020-03-26 06:33] #771 closed, assigned to lmslachciak

[2020-03-26 06:40] lslachciak commented on #769
Height of the buttons on the bottom bar is 52. According to the guide it should be 56.
@TomaszLukawskiSam could you check?

[2020-03-26 06:41] lslachciak commented on #741
All current items completed. When new png/svg provided I'll update them

[2020-03-26 06:41] #741 closed, assigned to lmslachciak

[2020-03-26 07:26] TomaszLukawskiSam commented on #769
You are right... I'll fix it.

[2020-03-26 07:30] TomaszLukawskiSam commented on #821
Second patch has been merged. I think that we can close the issue.

[2020-03-26 08:20] HunseopJeong opened #834 "Controllers - Switch"
Controllers - Switch

Need to update the exmaple

[2020-03-26 08:30] grzegorz-czajkowski commented on #771
`As per other guide screens from AppBar examples menu should not be called Open but "Menu"
Please remember about this when working on other items.`
In my opinion, "Menu" should be added to Appbar examples not to Dropdown examples (View controls -> Dropdown) since here they are not visible in guide.

[code]
Ok, thanks.

[2020-03-26 10:00] grzegorz-czajkowski opened #836 "View controls -> Dropdown list -> Two lines item"
Provide example and implementation in TAU.
See example in Appbar (Max-width)

[2020-03-26 11:16] HunseopJeong commented on #802
Issue was fixed.

[2020-03-26 11:16] #802 closed, assigned to singa2000, DohyungLim

[2020-03-26 11:16] HunseopJeong commented on #809
Issue was resolved.

[2020-03-26 11:16] #809 closed, assigned to nobody

[2020-03-26 11:16] HunseopJeong commented on #805
Patch was merged.

[2020-03-26 11:16] #805 closed, assigned to HunseopJeong

[2020-03-26 11:17] HunseopJeong commented on #762
I removed subheader from the main page. So I close the issue.

[2020-03-26 11:17] #762 closed, assigned to nobody

[2020-03-26 11:21] grzegorz-czajkowski commented on #773
Example and implementation provided.

[2020-03-26 11:37] korneliakobiela commented on #702
PR #797

[2020-03-26 12:30] TomaszLukawskiSam commented on #770
Patch has already been merged. Can we close the issue?

[2020-03-26 12:35] lslachciak commented on #821
works great

[2020-03-26 12:35] #821 closed, assigned to lmslachciak

[2020-03-27 02:28] singa2000 opened #839 "Controller -> Master on/off switch mis-behavior"
If all sub-switches are turned off, the master switch should also be turned off.
It's not working well right now.

![image](https://user-images.githubusercontent.com/31196177/77714969-b28a6c00-701d-11ea-8ad7-74a148099f7e.png)

[2020-03-27 06:12] lslachciak commented on #839
@singa2000  when working on this feature we had some doubts and internal discussion about this screen.
but your interpretation seems to be right, we will work on it

[2020-03-27 06:15] singa2000 commented on #839
You can refer to it UI guide ver1.6  - 37page .

3.Do not allow to turn off all sub settings when master is on. Let something work when you turn on the master switch.
4.Do not use the master switch in situations where that is not possible.

In the case of On, more than one sub-item should be on
 (All Off is not available.)

[2020-03-27 06:48] lslachciak commented on #839
Yes, we seen this when working  on feature. But we treated this guides more like guide for web app developer.
Not sure yet if those restrictions should be implemented on the widget side or sample app side.

[2020-03-27 07:47] TomaszLukawskiSam commented on #769
Fixed. Could we close this issue?

[2020-03-27 08:22] grzegorz-czajkowski commented on #836
There is discrepancy in guide related to dropdown max-width.

In 13-4 Dropdown list (Max width & height) on page 270 , long content is presented as follows:
`Option11 Option11 Option11 Option...`

one line only and dots are added to notify user that content has been shorten. This is already implemented by https://github.com/Samsung/TAU/pull/828.

However, in Appbar More optionlist (Max width) on p

[2020-03-27 08:28] lslachciak commented on #814
@HunseopJeong I think this PR https://github.com/Samsung/TAU/pull/840/ will address your issue
_**Use your own fork of TAU** repository in order to prepare pull request (PR)._

[2020-03-27 08:55] grzegorz-czajkowski opened #841 "View controls -> Dropdown list -> list without selected item"
Currently dropdown list implementation selects the first option by default although any option does not have "selected" attribute. That means, developer is unable to create dropdown list without selected item.

[2020-03-27 09:00] grzegorz-czajkowski opened #842 "View controls -> Dropdown list -> "selected" attribute points to next option"
Adding "selected" attribute to <option> results in adding selection to next option.

[2020-03-27 09:11] lslachciak commented on #839
As we discussed first we need to respond on the question

turning on/off master switch should
1) only enable/disable all sub settings switches
2) both turn on/off and enabledisable sub setting switches

[2020-03-27 10:04] TomaszLukawskiSam commented on #768
Patch has already been merged. The issue can be close.

[2020-03-27 10:12] TomaszLukawskiSam commented on #722
I'll reopen PR referring to this issue.

[2020-03-27 11:00] TomaszLukawskiSam commented on #832
Patch has already been merged. We can close the issue?

[2020-03-27 11:18] lslachciak commented on #795
PR merged

[2020-03-27 11:18] #795 closed, assigned to lmslachciak

[2020-03-27 11:22] #768 closed, assigned to lmslachciak

[2020-03-27 11:22] lslachciak commented on #769
yes, ready to go

[2020-03-27 11:22] #769 closed, assigned to lmslachciak

[2020-03-27 11:30] lslachciak commented on #832
wokrs fine

[2020-03-27 11:30] #832 closed, assigned to lmslachciak

[2020-03-27 11:36] lmslachciak opened #845 "View Controls -> Drop down list --> Max width --> in the center of screen"
1 expand dropdown list
2. make a drag on the expanded list
3. select an item
Observe: Drop down list is in the middle of screen

[2020-03-27 11:43] lslachciak commented on #836
@grzegorz-czajkowski I think both.
We have also two versions of Apbar - one line and two line

[2020-03-27 11:45] lslachciak commented on #773
One issue reported https://github.com/Samsung/TAU/issues/845
but generall wors fine

[2020-03-27 11:45] #773 closed, assigned to lmslachciak

[2020-03-27 11:46] lslachciak commented on #770
works fine

[2020-03-27 11:46] #770 closed, assigned to lmslachciak

[2020-03-27 15:06] TomaszLukawskiSam opened #846 "App Bar > Bottom bar: lack of icon "move""
guideline shows example with move icon but this icon is not included to resources

![image](https://user-images.githubusercontent.com/29534410/77770234-3ad03780-7045-11ea-9f1a-275599b4ecdd.png)

[2020-03-27 15:11] TomaszLukawskiSam commented on #846
The issue referring also to #722

[2020-03-27 15:15] TomaszLukawskiSam opened #847 "App Bar > Add "All" checkbox"
This checkbox joins with listview and toggle on checkboxes in listview.

[2020-03-27 15:21] TomaszLukawskiSam commented on #845
I think that the AppBar has been extended during the scroll of Drop Down menu.

[2020-03-30 05:31] lslachciak commented on #845
yes, this is true.
extension of AppBar occurs always. Not sure if this is correct behaviour.
But regardless of this drags on the expandable list should not cause such behaviour

[2020-03-30 06:02] lmslachciak opened #849 "Controllers -> Checkbox --> animation"

[2020-03-30 06:04] lmslachciak opened #850 "Controllers -> Slider --> Focus support"

[2020-03-30 06:40] TomaszLukawskiSam commented on #845
Of course this is not correct behaviour. The extension of AppBar should be block when dialog / poup is visible.

[2020-03-30 06:40] singa2000 commented on #839
I checked the Master on/off switch behavior with UX team,
Basically, Master on/off switch is just enable/disable the sub settings items.
1) Master switch Off -> sub settings are disable.
2) Master switch On-> sub settings are enables.

The UI guide will be update.
The App developer can change like followings.
If Master switch is off,  the sub settings can be hide or sub settings can be off.

Now o

[2020-03-30 06:49] lslachciak commented on #839
@singa2000 thank you for clarification.
Closing issue

[2020-03-30 06:49] #839 closed, assigned to singa2000

[2020-03-30 06:56] TomaszLukawskiSam commented on #849
I have already done some work in the context of this PR.

https://github.com/TomaszLukawskiSam/TAU/commit/0c196774474cb8307bc4c88383662ab0b22399bb

Please check less file: src/css/profile/mobile/common/gridview.less

[2020-03-30 07:10] TomaszLukawskiSam commented on #722
@lslachciak
This issue partly overlaps with the scope of the lists (multiple selection) and in my opinion should be parted to several smaller.
    - changes in AppBar for add checkbox "All" in header, (#847)
    - changes in AppBar for posibility to modify AppBar title regarding to number of selected items
    - showing the BottomBar if occures selected items
    - text within a list item should b

[2020-03-30 07:28] lslachciak commented on #722
First two item I agree.
Regarding
_- showing the BottomBar if occures selected items_
I see on guide screens that regardless items are selected or not bottom bar is visible with "move/share/delete" options.

_ -text within a list item should be considered part of the primary action target_
could you explain more?

[2020-03-30 08:13] TomaszLukawskiSam commented on #722
This is requirement from guideline and I understand this that taping on `li` area is changing checkbox state

[2020-03-30 08:20] lslachciak commented on #722
ok, now all requirements are clear
but
_ -text within a list item should be considered part of the primary action target_
is for list requirement, out of this item scope

[2020-03-30 08:24] HunseopJeong commented on #823
PR merged

[2020-03-30 08:24] #823 closed, assigned to nobody

[2020-03-30 08:24] HunseopJeong commented on #834
PR merged

[2020-03-30 08:24] #834 closed, assigned to HunseopJeong

[2020-03-30 08:24] HunseopJeong commented on #825
PR merged

[2020-03-30 08:24] #825 closed, assigned to HunseopJeong

[2020-03-30 08:25] HunseopJeong commented on #782
PR merged

[2020-03-30 08:25] #782 closed, assigned to nobody

[2020-03-30 08:25] lmslachciak opened #851 "Cotrollers --> Checkbox (List selected) --> update appbar tittle according to selection"

[2020-03-30 08:27] lmslachciak opened #852 "Cotrollers --> Checkbox (List selected) -->Bottom bar show up"
- showing the BottomBar if occures selected items

[2020-03-30 08:27] lslachciak commented on #722
so we have here:
~~https://github.com/Samsung/TAU/issues/847~~
https://github.com/Samsung/TAU/issues/851
https://github.com/Samsung/TAU/issues/852

[2020-03-30 09:09] lslachciak commented on #845
on console there is a message
`Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/5093566007214080`

[2020-03-30 09:10] lslachciak commented on #845
Related links
https://developers.google.com/web/updates/2017/01/scrolling-intervention
 https://github.com/inuyaksa/jquery.nicescroll/issues/799

[2020-03-30 09:14] lslachciak commented on #845
issue also occurs on emulator
![image](https://user-images.githubusercontent.com/2246331/77895806-997cf780-7277-11ea-8981-ced858633f29.png)

[2020-03-30 10:19] grzegorz-czajkowski commented on #836
This feature requires -webkit-line-clamp css property which is not supported in Tizen Emulator 5.5:
![emulator](https://user-images.githubusercontent.com/46523330/77900303-27f47780-727e-11ea-86b6-8924456dc0aa.png)
whereas on Desktop using Chromium | 80.0.3987.87 (Official Build) Built on Ubuntu i looks like expected:
![Chromium](https://user-images.githubusercontent.com/46523330/77900422-4e1a1780-

[2020-03-30 11:41] HunseopJeong opened #855 "Spin widget tests"
I am stuck in the test for the Spin.
I moved the Spin widget of wearable profile to the core widget.
But [CI](https://travis-ci.org/github/Samsung/TAU/builds/668705271?utm_medium=notification&utm_source=github_status) makes fail reports  repeatedly.

Is there any widget like as Spin, define the core part in core widget and extend it for the profiles?

[2020-03-30 11:42] HunseopJeong commented on #855
@TomaszLukawskiSam,
 Is there a widget that acts like Spin? Do you know?

[2020-03-30 11:45] HunseopJeong commented on #855
I tried to make the 'tests/js/core/widget/core/Spin' first.
But it gots correct result only in wearable and not in mobile.

[2020-03-30 12:32] TomaszLukawskiSam commented on #855
I think we don't have widget similar to Spin... I'll check your PR (#820) but I see that tests passed.

[2020-03-30 12:35] HunseopJeong commented on #855
Okay, I fixed isssue but I think need a more time to analyze it :(

[2020-03-30 13:19] lslachciak commented on #845
console error can be eliminated with this patch
[code]
but this not eliminates issue yet

[2020-03-30 14:55] korneliakobiela commented on #729
I've checked the list element according to the HTML guide. It looks pretty the same as it looked in the previous version. All elements have the same colors and proportions. Tommorow morning I will edit example

[2020-03-31 07:50] lmslachciak opened #859 "View Controls -> Drop down list --> Max width --> Error on console when dragging AppBar"
View Controls -> Drop down list --> Max width --> Error on console when dragging AppBar

[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/5093566007214080

[2020-03-31 08:13] TomaszLukawskiSam commented on #855
@HunseopJeong
Hi, I added commit (https://github.com/Samsung/TAU/pull/820/commits/7ff86754dd46c94cb3097129f50af7e162b2ad64) to your PR (#820).

[2020-03-31 09:38] TomaszLukawskiSam commented on #847
Patch has already been merged. The issue can be close.

[2020-03-31 09:54] lmslachciak opened #863 "console error when accessing Appbar and Button"
tau.js:35448 GET http://localhost:8080/examples/mobile/UIComponents/lib/tau/mobile/theme/default/images/page/core_theme_bg_01.png 404 (Not Found)

[2020-03-31 11:58] lslachciak commented on #842
This issue is because in html example "open" is also select so selectedIndex returns higher value
 https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/selectedIndex

[code]

[2020-03-31 12:09] grzegorz-czajkowski commented on #842
Open is just placeholder and is not part of the list itself. Adding selected to this is confusing. But adding selected to Option1 results in showing selection for Option2.

[2020-03-31 14:35] korneliakobiela commented on #729
PR is ready for this issue: #858

[2020-04-01 00:08] HunseopJeong opened #867 "Unable to preventDefault inside passive event listener due to target being treated as passive......"
When I tried to test the example on the browesr, some error message appeared on the console window.
[code]

[2020-04-01 00:11] HunseopJeong opened #868 "Running "postcss:dist" (postcss) task"
When building the TAU, there is some error message on the "postcss:dist".
https://travis-ci.org/github/Samsung/TAU?utm_medium=notification&utm_source=github_status

Running "postcss:dist" (postcss) task

[2020-04-01 01:22] HunseopJeong commented on #855
@TomaszLukawskiSam,
Could you make the PR([7ff8675](https://github.com/Samsung/TAU/commit/7ff86754dd46c94cb3097129f50af7e162b2ad64)) after #820?

[2020-04-01 06:59] TomaszLukawskiSam commented on #855
Done.

[2020-04-01 07:28] lslachciak commented on #867
@HunseopJeong I think this is duplicate of
https://github.com/Samsung/TAU/issues/859
Working on PR to fix this issue
https://github.com/Samsung/TAU/pull/860

[2020-04-01 07:36] HunseopJeong commented on #867
Oh,, Good jobs :D
I close issue.

[2020-04-01 07:36] #867 closed, assigned to nobody

[2020-04-01 07:36] #847 closed, assigned to lmslachciak

[2020-04-01 07:36] grzegorz-czajkowski opened #872 "View Controls -> Spinner -> missing spinner"
According to guide (Components_UI 13-3 Dropdown menu) spinner should be used.

[2020-04-01 07:38] lslachciak commented on #722
also please note that we need example under Controllers->Checkbox (List Selected)

[2020-04-01 07:40] lslachciak commented on #845
PR merged

[2020-04-01 07:40] #845 closed, assigned to lmslachciak

[2020-04-01 07:41] lslachciak commented on #842
PR is read for review, waiting for final approval

[2020-04-01 07:47] TomaszLukawskiSam commented on #722
Do you want to duplicate sample file or add only entry in index.html with reference to sample file in list examples?

[2020-04-01 08:10] TomaszLukawskiSam commented on #722
I added that link to PR: https://github.com/Samsung/TAU/pull/864

[2020-04-01 08:25] TomaszLukawskiSam commented on #855
The PR is ready for review. Can I assign you to review?

[2020-04-01 08:25] lmslachciak opened #873 "Warning on console: [Violation] Added non-passive event listener to"
When starting app there is a warning on console
tau.js:19972 [Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive.

[2020-04-01 08:27] HunseopJeong commented on #855
@TomaszLukawskiSam,
Thank you,
After merging the #820, I will review it!
Please assign me.

[2020-04-01 08:29] TomaszLukawskiSam commented on #855
Great :) Thanks.

[2020-04-01 10:19] lmslachciak opened #874 "Controllers -> Slider --> Level Bar"

[2020-04-01 10:21] lmslachciak opened #875 "Progress --> Progress Bar (Determinate)"

[2020-04-01 10:22] lmslachciak opened #876 "[mobile] Progress -> Progress Circle (Determinate)"

[2020-04-01 10:23] lmslachciak opened #877 "Text fields -> Text Fields"

[2020-04-01 10:23] lslachciak commented on #877
Text fields only (Labels handled separately)

[2020-04-01 10:24] lmslachciak opened #878 "View Controls --> Main Tab"

[2020-04-01 10:25] lmslachciak opened #879 "View Controls -> Sub tab"

[2020-04-01 10:27] lslachciak commented on #842
PR merged, approved

[2020-04-01 10:27] #842 closed, assigned to lmslachciak

[2020-04-01 10:35] TomaszLukawskiSam commented on #852
Patch has been merged. The issue can be close.

[2020-04-01 10:37] korneliakobiela commented on #702
All PR merged, please review it

[2020-04-01 11:23] TomaszLukawskiSam commented on #851
Patch has already been merged. The issue can be close.

[2020-04-01 12:05] lslachciak commented on #877
some fixes are needed
![image](https://user-images.githubusercontent.com/2246331/78135231-db49a180-7421-11ea-8289-ac08a4c970e6.png)

[2020-04-01 13:03] lslachciak commented on #877
After some fixes looks much better now
![image](https://user-images.githubusercontent.com/2246331/78140147-d4269180-7429-11ea-9112-12ef7ec1e6b4.png)
but need to clarify "Hint text Inactive" vs "Hint text activated" from guide
Probably will need to add some JS to recognise focus state of input field and change placeholder value

[2020-04-01 13:50] korneliakobiela commented on #875
I checked the current state of this with the example, and it looks nearly identical for basic Progress Bar. @lslachciak is this task about all types of progress bar (with and without texts) or only basic type?

[2020-04-02 05:55] lslachciak commented on #859
PR merged closing issue

[2020-04-02 05:55] #859 closed, assigned to lmslachciak

[2020-04-02 05:56] grzegorz-czajkowski commented on #836
Patch merged. Issue can be closed.

[2020-04-02 05:57] #836 closed, assigned to lmslachciak

[2020-04-02 06:07] lmslachciak opened #884 "Cotrollers --> Checkbox (List selected) -->Bottom bar --> Move icon is wrong"
Cotrollers --> Checkbox (List selected) -->Bottom bar --> Move icon is wrong
![image](https://user-images.githubusercontent.com/2246331/78215934-0a5f2200-74b9-11ea-87a5-73ab90192173.png)

[2020-04-02 06:08] lslachciak commented on #852
works fine.
Additionally I created new issue for wrong move icon in bottom bar
https://github.com/Samsung/TAU/issues/884

[2020-04-02 06:08] #852 closed, assigned to lmslachciak

[2020-04-02 06:09] lslachciak commented on #851
work fine

[2020-04-02 06:09] #851 closed, assigned to lmslachciak

[2020-04-02 06:15] lslachciak commented on #702
works fine, closing issue

[2020-04-02 06:15] #702 closed, assigned to lmslachciak

[2020-04-02 06:43] TomaszLukawskiSam commented on #884
@lslachciak
Duplicate issue https://github.com/Samsung/TAU/issues/846

[2020-04-02 07:10] lslachciak commented on #729
I have two remarks regarding this item
1. Font size of currently selected list item according to guide is 38px. Debugger shows me 36px
I think we should update font-size.
2. Content of example should be the same as is in guide. We plan in future do px to px comparison.
Basic List --> Title
List 01
List 02
...

[2020-04-02 11:29] lslachciak commented on #884
@singa2000 could you contact with UX so we can get proper icon for Move
we have other icons in src/css/profile/mobile/theme-changeable/images/1_App_Bar/
but not move icon

[2020-04-03 05:26] singa2000 commented on #785
When you implement the checkbox animation,
please apply sprites animation sequentially using GUI resources.

![checkbox](https://user-images.githubusercontent.com/31196177/78327129-1cbf8580-75b7-11ea-94b6-07a4cfba746f.png)

[2020-04-03 05:28] singa2000 commented on #751
When you implement the Radio animation,
please apply sprites animation sequentially using GUI resources.

![radio](https://user-images.githubusercontent.com/31196177/78327250-65773e80-75b7-11ea-8f22-0b19bbe17ba8.png)

[2020-04-03 05:37] singa2000 opened #889 "Controllers -> On/Off switch"
1. Switch_Tap
   When just  Tap event, apply the elastic
    false→true
    elastic_60 + duration (500 ms)
    true→false
    elastic_60 + duration (500 ms)

2. Switch_Drag
   When just Drag event, don't apply the elastic
   Up event :  SineInOut60 + duration (200 ms)
   When drag, the background color changes in real time so that it is reflected.

[2020-04-03 06:54] HunseopJeong commented on #855
PR merged

[2020-04-03 06:54] #855 closed, assigned to nobody

[2020-04-03 06:55] HunseopJeong opened #890 "List -> Expandable List -> Image Update"
Expandable images are updated.
So we need to update the images.

[2020-04-03 07:33] grzegorz-czajkowski commented on #841
Patch merged. Issue can be closed.

[2020-04-03 07:48] #841 closed, assigned to lmslachciak

[2020-04-03 07:54] TomaszLukawskiSam commented on #722
I think that all task related to this issue is closed. We can close the issue.

[2020-04-03 08:10] TomaszLukawskiSam commented on #874
Patch has already been merged. We can close the issue.

[2020-04-03 08:17] lmslachciak opened #893 "Controllers -> SLider (update for 1.9)"
Controllers -> Slider (update for 1.9)

[2020-04-03 08:18] lmslachciak opened #894 "Text Fields --> Text Field v.17 update"

[2020-04-03 09:14] HunseopJeong commented on #890
PR Merged

[2020-04-03 09:14] #890 closed, assigned to HunseopJeong

[2020-04-03 09:16] HunseopJeong opened #896 "Dialog -> Time Picker (12h)"
Dialog -> Time Picker (12h)

Need to implement

[2020-04-03 09:18] HunseopJeong opened #897 "Dialog -> Time Picker (24h)"
Dialog -> Time Picker (12h)

Need to implement

[2020-04-03 11:39] TomaszLukawskiSam commented on #846
This issue is duplicated. #884

[2020-04-03 11:39] #846 closed, assigned to nobody

[2020-04-06 06:03] lslachciak commented on #877
PR merged

[2020-04-06 06:03] #877 closed, assigned to lmslachciak

[2020-04-06 06:03] #874 closed, assigned to lmslachciak

[2020-04-06 06:17] lslachciak commented on #722
@TomaszLukawskiSam the "Cancel" button in appbar shouldn't deselect elements?
Would it be ease to handle this?
![image](https://user-images.githubusercontent.com/2246331/78528045-c03eaf00-77de-11ea-911e-4d7234effe2f.png)

UIComponents app will be checked by testers and I afraid that this will be a potential issue.

[2020-04-06 09:23] HunseopJeong opened #900 "Dialog -> TimePicker -> ContainerHeight"
![image](https://user-images.githubusercontent.com/29908741/78542983-ed1cb180-7832-11ea-89d2-73801aceef5a.png)

I am implementing the TimePicker but the height of Spin has wrong value in the popup.
I think following code get the wrong value from the element.
`core / Spin.js`
[code]

[2020-04-07 05:50] grzegorz-czajkowski opened #905 "Presentation views -> List -> Main Text Only -> ui-arc-listview-5 items have wrong size"
Items arround selected elements have wrong position, size and opacity.
Current state:
![Screenshot from 2020-04-06 14-14-15](https://user-images.githubusercontent.com/46523330/78634461-525cbb00-78a4-11ea-851e-ece4e2f32af1.png)

[2020-04-07 05:57] grzegorz-czajkowski commented on #729
@korneliakobiela and @lslachciak
This issue seems to be done. Can we close this issue?

[2020-04-07 06:10] TomaszLukawskiSam commented on #722
@lslachciak
I understand your point of view but,
in my opinion "cancel" shouldn't deselect elements but should hide "select all" and checkboxes, so this is rather feature of listview like change mode of listview.

I think this is reason to create new issue.

[2020-04-07 06:39] grzegorz-czajkowski commented on #700
@singa2000 are you working on this? If not I can take care of this.

[2020-04-07 06:46] singa2000 commented on #700
oh.. No, I'm checking another issue.
Would you take care of this, please?
Thanks.

[2020-04-07 06:58] lslachciak commented on #905
Debugger shows me 36px guide shows 38 px for main item font size (List 03)

[2020-04-07 08:06] grzegorz-czajkowski commented on #730
Patch merged. Issue can be closed.

[2020-04-07 09:26] grzegorz-czajkowski commented on #905
font-size is already updated in https://github.com/Samsung/TAU/pull/887. I can see correct font size = 38px.

[2020-04-07 10:33] lslachciak commented on #729
right

[2020-04-07 10:33] #729 closed, assigned to lmslachciak

[2020-04-07 10:33] #730 closed, assigned to lmslachciak

[2020-04-07 13:15] lslachciak commented on #722
ok

[2020-04-07 13:15] #722 closed, assigned to TomaszLukawskiSam

[2020-04-08 04:00] HunseopJeong commented on #896
PR is merged.

[2020-04-08 04:00] #896 closed, assigned to nobody

[2020-04-08 04:40] lslachciak commented on #894
PR merged

[2020-04-08 04:40] #894 closed, assigned to lmslachciak

[2020-04-08 10:13] lmslachciak opened #911 "Navigation Elements -> Index Scroll -> update example"
Navigation Elements -> Index Scroll -> upate example

[2020-04-08 10:13] lmslachciak opened #912 "Navigation Elements --> Scrollbar -- > Circular Scroll bar"
no examples

[2020-04-08 10:15] lmslachciak opened #913 "Navigation elements-> Page indicator - no examples"
Navigation elements-> Page indicator - no examples

[2020-04-08 10:16] lmslachciak opened #914 "Navigation elements > go to-top button -> no examples"
Navigation elements > go to-top button -> no examples

[2020-04-08 10:36] lmslachciak opened #915 "Navigation Elements - correct menu structure"

[2020-04-08 10:59] lmslachciak opened #917 "Presentation Views - Progress & activity - empty"

[2020-04-09 08:12] lmslachciak opened #920 "Missing go-to-top button examples"
Nothing in Navigation Elements --> Go-to-top button

[2020-04-09 09:48] TomaszLukawskiSam commented on #913
Is this mobile issue?

[2020-04-09 11:23] lslachciak commented on #913
no :) sorry wrong label - fixed

[2020-04-14 07:03] HunseopJeong commented on #897
PR was merged.

[2020-04-14 07:03] #897 closed, assigned to nobody

[2020-04-14 07:03] HunseopJeong commented on #900
PR was merged.

[2020-04-14 07:03] #900 closed, assigned to HunseopJeong

[2020-04-14 07:05] HunseopJeong opened #932 "Picker Dialog -> Time Picker (Input)"
There is no implmentation for input element of the Time Picker.
We have to input the value using the input element.

[2020-04-14 09:07] #915 closed, assigned to nobody

[2020-04-14 09:08] #920 closed, assigned to nobody

[2020-04-14 09:08] #913 closed, assigned to lmslachciak

[2020-04-14 09:16] lmslachciak opened #934 "Checkbox in incorrect place example"
Checkbox example should be under
User Input Elements -> Controls --> Checkbox
but is under
User Input Elements -> Checkbox

[2020-04-14 10:10] lmslachciak opened #936 "Presentation Views -> Lists -> Group Index"
List : Group index

[2020-04-14 10:26] grzegorz-czajkowski commented on #934
Patch merged. Issue can be closed.

[2020-04-14 10:29] grzegorz-czajkowski commented on #700
@lslachciak  Checkbox and Checkbox Small were updated according to guide. Howvere one example missing. Should we close this bug?

[2020-04-14 10:42] lslachciak commented on #934
works well

[2020-04-14 10:42] #934 closed, assigned to lmslachciak

[2020-04-14 11:55] lmslachciak opened #938 "Move unneeded items to Etc"
Move items not present in guides  to Etc

[2020-04-15 05:02] lmslachciak opened #940 "Apply kebap style for all examples in wearable profile"

[2020-04-15 05:08] #808 closed, assigned to lmslachciak

[2020-04-15 07:27] #938 closed, assigned to nobody

[2020-04-15 07:27] lmslachciak opened #941 "Remove unneeded item from ETC"

[2020-04-15 12:09] lmslachciak opened #948 "Reorder UICOmponents items according to the Guideline"

[2020-04-16 06:57] grzegorz-czajkowski opened #952 "Presentation Views -> Lists -> Group Index (wrong position)"
Group index (Sub Text) has wrong position according to guide. This is related with wrong transform value calculated in arclistview.js
![group-index](https://user-images.githubusercontent.com/46523330/79424263-2d60fa00-7fc0-11ea-8776-d9bd001a50c2.png)

[2020-04-16 07:10] grzegorz-czajkowski commented on #936
Updated example and style. Created separated issue for wrong position of group index #952. This issue can be closed.

[2020-04-16 07:21] lmslachciak opened #953 "Presentaion View -> List --> Divider"

[2020-04-16 07:23] lmslachciak opened #954 "Presentation Views -> Lists ->Button (Icon)"

[2020-04-16 08:20] lslachciak commented on #952
@grzegorz-czajkowski you mean it should be centered?

[2020-04-16 08:22] grzegorz-czajkowski commented on #952
@lslachciak, yes, it should be centered vertically.

[2020-04-16 14:00] korneliakobiela commented on #875
I've edited JS files today. But there is some build issue. I am trying to solve it.

[2020-04-17 03:16] DevronB opened #958 "Wearable Selector bug"
In there wearable selector widget control, if you have 1 item more than a full page (12 as full page is 11) and you navigate to the next layer with '>>' the widget navigation and animations break and you can't go back to the previous layer. It works fine with <12 and >12, but not exactly 12 items.

[2020-04-17 07:36] HunseopJeong opened #964 "% is not working correctly on the Emulator."
The following style do not work properly in the emulator.
[code]
Need to check how to fix the issue.

[2020-04-17 07:37] HunseopJeong commented on #964
https://github.com/Samsung/TAU/pull/961#issuecomment-615090052

Hi,
This problem intrigued me and I found convertion method in less http://lesscss.org/functions/#misc-functions-unit
eg. --opacity: unit(10%) / 100
This allows to remains the same format of write a values for opacity

[2020-04-17 09:18] singa2000 commented on #884
It fixed and merged

[2020-04-17 09:18] #884 closed, assigned to singa2000

[2020-04-17 12:20] nemethmik opened #970 "TypeScript type definitions for TAU"
Hello TAU Developer Friends,
I have started experimenting with TAU for a watch-friendly mobile business application and so far it seems to be ok for our requirements. I didn't find either @types/tau or @types/tizen.
Do you have type definitions for TAU?
Thank you so much,
Miklos from Budapest

[2020-04-18 16:04] nemethmik opened #971 "TAU 1.1.8 (Tizen Studio 3.7) doesn't support number input fields"
Hello,
In the video I created the TAU UI Components sample project with Tizen Studio, and when I wanted to change the **input type** to **number** the application was broken.
[TAU 1.1.8 (Tizen Studio 3.7) doesn't support number input fields](https://youtu.be/a8TlFG23rkY)
In our application we have a number of simple screens with number input fields.
Thank you so much,
Miklos

[2020-04-18 16:08] nemethmik opened #972 "TAU 1.1.8 (Tizen Studio 3.7) Toggle looks weird on regular page without a UL-tag list view"
Hi,
Here I used the TAU UI sample project to show how the toggle TAU element is rendered on a regular page. It looks fine when included in a proper LI element of a UL list view, but not anywhere else.
[TAU 1.1.8 (Tizen Studio 3.7) Toggle looks weird on regular page without a UL-tag list view](https://youtu.be/6lmWVagpoa4)
Thank you and all the best,
Miklos

[2020-04-20 01:17] HunseopJeong commented on #958
Hello, @DevronB,
Which version of TAU are you using?
I tested selector(Controls-Selector-BasicSelector) with 12 items(TAU 1.1.11).
There was no issue.
I will help you if you provide details of the environment you are testing.

[2020-04-20 01:22] HunseopJeong commented on #970
Hello, @nemethmik,
We do not yet have @types for typescript support.
We will consider whether we can support related features.

@lslachciak, @singa2000
Could you check this issue?

[2020-04-20 01:55] HunseopJeong commented on #971
Hello, @nemethmik,
It was easy to understand that checked the issue with a video.
I will check the issue.

[2020-04-20 05:37] HunseopJeong opened #974 "Dialogs -> Picker Dialogs -> Date Picker (Wheel view)"
Dialogs -> Picker Dialogs -> Date Picker (Wheel view)

[2020-04-20 07:24] singa2000 commented on #970
Hello.@nemethmik
Thank you very much for your interest in TAU.
I'm sorry but we don't yet support typescript and can't be sure of supporting it right now.
We will consider it as one of the next item.

[2020-04-21 04:40] HunseopJeong opened #980 "GUI Feedback List"
- _List Content Area_
- _Bottom Spacing_
- _Bottom Spacing with FAB_
- _1 Line List_
- _2 Line List_
- _3 Line List_
- _Icon +Text List_
- Sub header / Text
- Sub header / Without chunking
- Expandable List
- Multiple Selection List / Basic list - Extended app bar
- Multiple Selection List / Basic list - App bar

Italic: complete

[2020-04-21 07:23] grzegorz-czajkowski commented on #953
Patch merged. Issue can be closed.

[2020-04-21 09:14] nemethmik opened #982 "No TAU templates in the new Tizen Studio 3.7"
Tizen Studio 3.7 was released earlier this month (April 2020) and when you want to create a new Tizen Wearable or Mobile web app project you have no TAU templates any more. Have you noticed this, My Friends? The TAU UI sample project is still available but no TAU templates, just the basic templates.
Take care and all the best, Miklos

[2020-04-21 13:09] TomaszLukawskiSam opened #985 "Appbar: add API for control of expand / normal state"
We can expand AppBar using touch events like drag but the expanding option is not accessible by widget api.
For example:
`appbar.expand()` or `appbar.collapse()` (PR: https://github.com/Samsung/TAU/pull/1049)
 and `<div class="ui-appbar" data-expanded="true">` (to do)

This feature is needed to realize interaction with others widget eg. MainTab

[2020-04-22 07:42] singa2000 commented on #982
Hello @nemethmik
I checked the Tizen Studio 3.7 and can see the Mobile/Wearable TAU Template.
After install the Tizen Studio 3.7, do you run the package-manager?
If not, would you install the Mobile or Wearable project in the package-manager, please?

![package-manager](https://user-images.githubusercontent.com/31196177/79954211-facf6980-84b7-11ea-96b5-d82e8d2923dc.png)

After install it in the pa

[2020-04-22 11:27] nemethmik commented on #982
Yes, it's there. Brilliant.
I am really sorry for the turbulence.
Thank you so much.

[2020-04-22 11:27] #982 closed, assigned to singa2000

[2020-04-22 11:30] nemethmik commented on #970
It's OK. I wanted to know if you already have types on your roadmap. Thank you so much.

[2020-04-22 11:30] #970 closed, assigned to lmslachciak, singa2000

[2020-04-22 11:53] HunseopJeong commented on #971
@lslachciak,
Could you merge this PR(https://github.com/Samsung/TAU/pull/978) to all branches in next release?

[2020-04-22 13:57] lslachciak commented on #971
Yes, I'm on it. 1.1 is done. 1.2 is in progress

[2020-04-23 01:56] singa2000 opened #998 "Mobile Appbar action button issue"
I test latest PR, the App bar is abnormal.
Navigate up button and action button are not display.

First the flat button icon of Appbar is not visible. But when I select the button, the icon is visible.

How to reproduce:
App bar -> Action button -> Add and Search

Test version:
commit 0a6c08e824f575d1dc33fc458d77fea423f0715c (HEAD -> feedback9, upstream/tau_1.2, tau_1.2)
Author: Hunseop Jeong <hs8

[2020-04-24 06:25] TomaszLukawskiSam commented on #998
An indirect reason for this error is the lack of background color for the element `:after` for flat button.
![obraz](https://user-images.githubusercontent.com/29534410/80181336-efd61f80-8604-11ea-8532-22a22222bd38.png)
I try to find change which broke this color.

[2020-04-24 07:18] TomaszLukawskiSam commented on #998
This change (0a6c08e824f575d1dc33fc458d77fea423f0715c) broken background color for button.

[2020-04-24 07:29] TomaszLukawskiSam commented on #998
I'm preparing patch for this issue, now.

[2020-04-24 07:50] HunseopJeong commented on #998
I removed the style  because it makes some issues on the fab button.
I will check it.

[2020-04-24 08:26] lmslachciak opened #1013 "[mobile] Fix padding for dropdown list items"
Wrong padding (currently 13). - should be 15. Height of one line in dropdown list should be 50
see p. 51:
padding top/bottom 15
max height: 50

[2020-04-24 09:40] lmslachciak opened #1015 "Buttons -> Contained button ->Body Area -> Contained buttons on context"
Buttons -> Contained button ->Body Area -> Contained buttons on context

Multiline button should be multiline...

[2020-04-24 09:46] lmslachciak opened #1016 "[mobile] Wrong buttons width for 673x411"
Wrong buttons width for 673x411
Guide see p. 73
Feedback p. 14
Contained buttons -> Body_area